@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
.fc-content{
    font-size: large;
    color: #fff;
}

.poppins-extrabold {
    font-family: 'Poppins-ExtraBold';
}

.poppins-bold {
    font-family: 'Poppins-Bold';
}

.poppins-semibold {
    font-family: 'Poppins-SemiBold';
}

.poppins-medium {
    font-family: 'Poppins-Medium';
}

.poppins-regular {
    font-family: 'Poppins-Regular';
}

body {
    font-family: 'Poppins-Regular';
    font-size: 14px;
}

.img-responsive {
    max-width: 85% !important;
}
.bg-org {
    background-color: #FF6299;
}

.bg-sky-blue {
    background-color: #67C3EF;
}

.bg-light-green {
    background-color: #79C447;
}

.bg-voilet {
    background-color: #726ACB;
}

.bg-aqua {
    background-color: #00c0ef;
}

.bg-light-yellow {
    background-color: #FFB91C;
}

.border-round {
    border-radius: 4px;
}
.user-img {
    background: no-repeat;
    box-shadow: none !important;
}

.txt-blue {
    color: #272263
}

.w-100 {
    width: 100%
}

.bg-light-red {
    background-color: #DE2426;
}

.p-4 {
    padding: 40px;
}

.box-shadow {
    box-shadow: 0px 6px 33px rgba(0, 0, 0, 0.10)
}

.btn-blue {
    background-color: #1C81D9;
    color: #ffffff
}

.btn-blue:hover {
    background-color: #FF5455;
    color: #ffffff;
    transition: all 0.6s ease;
}

.user-panel>.info {
    padding: 14px 5px 5px 15px;
}

.user-panel {
    padding: 42px 10px;
    color: #fff;
    background: linear-gradient(141deg, #5951b9 30%, #1C81D9 90%);
}


/* Global css replace */

a {
    text-decoration: none;
}

ul li a {
    list-style: none !important;
}


/* Color variables */

:root {
    --primary-color: #3879C5;
    --primary-dark-color: #3D538C;
    --primary-white: #ffffff;
    --primary-dark: #000000;
    /* Primary color shades and tint */
    --primary-25t: #EEF2F8;
    --primary-50t: #E2ECF8;
    --primary-100t: #C2DBF8;
    --primary-200t: #9BC7F9;
    --primary-300t: #8CBBF1;
    --primary-400t: #8EB9EB;
    --primary-450t: #67A0E2;
    --primary-500t: #67A1E4;
    --primary-600t: #5798E3;
    --primary-700s: #2563AA;
    --primary-800s: #164F92;
    --primary-850s: #07356A;
    --primary-900s: #1C3C62;
    --primary-950s: #152D4A;
    --primary-1000s: #0E1E31;
    /* Grey Neutral */
    --grey-25: #FAFAFA;
    --grey-50: #F5F5F5;
    --grey-100: #F0F0F0;
    --grey-200: #E0E0E0;
    --grey-250: #C7C7C7;
    --grey-300: #B3B3B3;
    --grey-350: #949494;
    --grey-400: #8A8A8A;
    --grey-450: #616161;
    --grey-500: #424242;
    --grey-550: #3D3D3D;
    --grey-600: #333333;
    --grey-700: #292929;
    --grey-800: #1F1F1F;
    --grey-900: #0F0F0F;
    /* Information Color */
    --error-base: #FD3D39;
    --error-400s: #C4314B;
    --error-600s: #8E192E;
    --error-100t: #F3D6D8;
    --error-50t: #FCF4F6;
}
.view-action i {
    display: none;
}
     /*password css*/
 .input-group-addon {
     padding: .5rem .75rem;
     margin-bottom: 0;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.25;
     color: #495057;
     text-align: center;
     background-color: #e9ecef;
     border: 1px solid rgba(0, 0, 0, .15);
     border-radius: .25rem;
 }

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.user-img{
    max-width: 100%;
}
.img-sec{
    text-align: center;
    margin: 0 auto;
}
.img-sec img {
    width: 200px;
}

.notification-text, .text-sm.notification-test {
    max-width: 65%;
    overflow: hidden;
    min-width: 65%;
}

.custom-style {
    padding: 10px 20px;
    border: 2px solid;
}
.text-role {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid;
    text-transform: uppercase;
}
.ck-editor__editable_inline {
    min-height: 300px;
}

/* AdminLTE css replace */

.login-page,
.register-page {
    background-color: #EEF5F9;
}

.btn-default.btn-leads-status-active {
    background-color: hsba(212, 38%, 98%, 1);
}

.btn-default.btn-leads-status-inactive {
    background-color: hsba(212, 38%, 98%, 1);
}

.leads-status-btn {
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 4px;
}

.btn-leads-status {
    padding: 2px 12px;
    font-size: 14px;
    font-weight: 500;
}

.btn-leads-status-active {
    background-color: #9BC7F9 !important;
}

.btn-leads-status-inactive {
    background-color: var(--error-base, 0.75) !important;
}

.c-action-btn>a>button {
    border-radius: 4px;
}


/* .main-header {
    height: 56px;
    max-height: 56px;
    overflow: hidden;
} */

.main-header {
    border-bottom: 1px solid #ebebeb;
    /* max-height: 60px !important; */
}

.skin-blue .main-header .logo {
    background-color: #fff;
    /* border-bottom: 1px solid #EBEBEB; */
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #616161;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #F5F5F5;
    color: #121212;
}

.skin-blue .main-header .navbar {
    background-color: #ffffff;
    border-left: 1px solid #ebebeb;
    /* border-bottom: 1px solid #ebebeb; */
    /* height: 100%;
    padding: 0 24px;
    align-items: center;
    display: flex;
    max-height: 60px;
    position: relative;
    flex-shrink: 0; */
}


/* .navbar {
    padding: 0;
} */

.navbar-custom-menu>.navbar-nav>li {
    padding: 16px;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #ffffff;
    box-shadow: 0px 0 7px -1px var(--grey-50);
    padding-top: 60px;
}

.box.box-primary {
    border-top-color: #d7dfe3 !important
}

.box {
    border: 1px solid #d7dfe3;
    background-color: transparent !important;
    border: none !important;
}

.breadcrumb {
    margin: 0 auto !important;
}


/* .breadcrumb {
    border: 1px solid #d7dfe3;
    background-color: transparent !important;
    border: none !important;
} */

.box-header.with-border {
    border-bottom: 1px solid #eff1f3;
}

.box-header .box-title {
    font-family: 'Poppins-SemiBold';
    font-size: 15px;
    margin: 9px;
}

.btn {
    box-shadow: 0px 6px 33px rgba(0, 0, 0, 0.10);
    border-radius: 2px;
}

.btn-primary {
    background-color: #3987FB;
    border-color: #3884F5;
}

.btn-primary:hover {
    background-color: #1C81D9;
    border-color: #1C81D9;
}

.btn-danger {
    background-color: #FF5455;
    border-color: #FF5455;
}

.btn-danger:hover {
    background-color: #FF5455;
    border-color: rgb(255, 84, 85);
}
.sidebar-menu li>a>.fa-angle-left,
.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    margin-right: 5px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    width: 215px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
    left: 220px !important;
}

.box {
    border: 1px solid #F0F0F0;
    box-shadow: none !important;
}

.sidebar {
    padding-top: 10px;
    height: 100vh;
}
::-webkit-scrollbar {
    display: none;
}
.sidebar-menu>li {
    position: relative;
    margin: 5px 0;
    padding: 0 8px;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu>li {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .skin-blue .sidebar-menu>li:hover>a,
    .skin-blue .sidebar-menu>li.active>a,
    .skin-blue .sidebar-menu>li.menu-open>a {
        border-radius: 0px;
    }
}

.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a {
    background-color: #3D538C;
    box-shadow: 0px 6px 33px rgba(0, 0, 0, 0.10);
    border-radius: 2px;
}

.skin-blue .sidebar-menu>li:hover>a {
    background-color: #324679;
}

.skin-blue .sidebar a {
    color: #1F1F1F;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.skin-blue .sidebar-menu>li>a>li>a:hover {
    background-color: blue;
}

.info-box {
    padding: 50px;
    overflow: hidden;
    border: 1px solid #d7dfe3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

.bg-org,
.bg-sky-blue,
.bg-light-green,
.bg-voilet,
.bg-aqua,
.bg-light-yellow {
    border-radius: 4px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.2)
}

.info-box-content {
    margin-left: 100px;
}

.info-box-icon {
    height: 85px;
    font-size: 0;
    padding: 10px;
}

.info-box .fa-briefcase,
.info-box .fa-users,
.fa-file,
.info-box .fa-buysellads,
.info-box .fa-file-image-o {
    font-size: 30px;
    color: #ffffff;
}

.info-box-text {
    font-family: 'Poppins-Bold';
    font-size: 15px;
}

.info-box-number {
    font-size: 20px;
    font-family: 'Poppins-Regular';
}

.info-box .fa-long-arrow-right {
    padding-left: 6px;
}

.info-box p a {
    color: #0b0b0b;
}

.info-box p a:hover {
    color: #0087F7;
}

.content {
    padding: 0;
}


/*
.content-header {
    padding-left: 35px;
} */

.content-header {
    display: none;
}


/* Additional CSS */

sidebar-menu {
    margin-top: 20px;
}

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a {
    box-shadow: none !important
}

.skin-blue .main-header .logo {
    background: none !important;
}

.user-menu {
    background-color: #fafafa;
}

.c-header-user-menu {
    background-color: black !important;
}

.user.user-menu>a>span {
    color: #707070;
    text-transform: uppercase;
}

.user-image {
    /* border: 2px solid #cccccc; */
    /* float: left; */
    width: 28px;
    height: auto;
    /* border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px; */
    overflow: hidden;
}


/* Start - Custom style nav and tab bar */

.nav-tabs {
    background: var(--grey-100);
}

.nav-tabs .nav-link.active,
nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--primary-dark) !important;
    border-color: transparent;
    color: var(--primary-dark);
    background: transparent;
}

.nav-item a {
    color: var(--grey-400);
    font-size: 1rem;
    font-weight: 400;
}

.nav-tabs .nav-link {
    padding: 16px 24px;
}


/* End - Custom style nav and tab bar */

.C-LC-tabs {
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
    padding: none !important;
    margin: none !important;
    height: 56px;
}

.C-LC-tabs>li>a {
    line-height: 33px;
    border-radius: 2px 2px 0 0;
    color: #616161;
}

.C-LC-tabs>li.active>a {
    color: #3D538C;
    border-bottom: 2px solid #3d538c !important;
    cursor: default;
    font-weight: 600;
    border-bottom-color: transparent;
    background-color: none !important;
    border: none;
}

.C-LC-tabs>li.active>a:hover {
    border: none;
}


/* .c-btn-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
} */


/* .c-btn-right .btn {
    margin-right: 12px;
    box-shadow: none !important;
} */


/* .c-primary--search {
    border: 1px solid #CACCCF;
    border-radius: 4px;
    padding: 0 8px;
}

.c-primary--search form {
    display: inline-flex;
    vertical-align: middle;
    width: 700px;
}

.c-primary--search input {
    border: none !important;
    height: 36px;
} */


/* .c-table-search {
    flex: 1 1 auto;
    border: none;
}

.c-table-search ::placeholder {
    opacity: 0.50;
} */

.c-page-tile p {
    line-height: 50px;
    font-weight: 600;
}


/* .c-header-actions>ul>li {
    display: flex;
    align-items: center;
} */


/* .c-header-actions>div>a {
    padding: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
} */

.c-header-actions>ul>li>a {
    padding: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
}

.c-header-actions>ul>li:hover a {
    background-color: #F0F0F0;
}

.c-header-actions {
    margin-right: 32px;
}

.hidden {
    display: none;
}

.c-parimary-btn>span {
    height: 16px;
    width: 16px;
    background: #CFD3DE !important;
    color: #1F1F1F;
}


/* Start header policy, calculator and Notification action bar */

.header-action>a {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 100%;
}

.header-action>a:hover {
    background-color: #dbdff3;
    box-shadow: 0px 6px 33px rgba(27, 29, 145, 0.15);
}

.header-action a:hover img {
    color: #0a2299;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}


/* End header policy, calculator and Notification action bar */

.leads-customer-form {
    padding: 16px 8px;
    overflow: hidden;
}

.leads--file--upload {
    text-align: center;
    background: #FFFFFF;
    border: 1px dashed #C7C7C7;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
}

.customer--details,
.insurance--details {
    background-color: #F5F5F5;
}

.customer--details {
    padding: 24px 16px;
}

.customer--details p {
    font-size: 16px;
    font-weight: 600;
    color: #616161;
    margin-bottom: 16px;
}

.leads-customer__wrapper {
    width: 672px;
}


/*Hiding the previous lead customer form */

.modal-body-hide {
    display: none !important;
}

.leads-tab-content-title p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #616161;
    border-bottom: 1px solid var(--grey-200);
    padding-bottom: 16px;
}

.custom-modal-dialog {
    width: 672px !important;
    background-color: #ffffff;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.btn-upload {
    color: #3879C5;
    background-color: white;
    text-decoration: underline;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border: none;
}

.leads-tab-content {
    padding: 24px 16px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#myTabContent {
    padding: 0 8px;
}

.btn-add-leads {
    background: none;
}

.leads-form-section>form {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
}
#leadAddEdit .form-group input,#leadAddEdit .form-group select {
    height: 45px;
}
.leadsform-action-btn {
    height: 56px;
    display: flex;
    flex-shrink: 0;
    width:100%;
    justify-content: right;
}
.leadsform-action-btn button {
    height: 41px;
    padding: 0px 30px;
    border-radius: 4px;
}
.leadsform-action-btn button:first-child{
    margin-right: 15px;
}

.btn-36 {
    height: 36px;
    padding: 8px 24px;
}

.manual-margin {
    margin-top: 29px;
}


/* Leads Table Start */


/* Leads Table End */

/* ::-webkit-scrollbar {
    height: 12px;
    width: 10px;
    background: var(--grey-300);
    padding: 0 20px;
    justify-content: center;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--grey-400);
    border-radius: 10px;
    cursor: pointer;
} */


/* .c-tbl-action-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.c-number-badge {
    background-color: var(--grey-200);
}


/* Remarks css starts */

.remarks-add-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remarks-modal-footer {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.c-btn-style {
    padding: 8px 24px;
}

#listremarks {
    /* border: 1px solid var(--primary-25t);
    padding: 16px 8px;
    border-radius: 4px; */
    background: var(--grey-25)
}

.remarks_list>div,
.meetings_list div {
    background: var(--grey-50);
    flex-direction: colu;
    margin: 8px 0;
    padding: 16px 8px;
}

.aZ6::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}


/* Remarks CSS ends   */


/* Start Full Calendar */

.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #ddd;
}


/* End - Full Calendar */

.sidebar .sidebar-menu .active .treeview-menu {
    display: block;
}

.modal-content {
    border-radius: 4px;
}


/* Start Tree menu */

.treeview-menu {
    padding-left: 0;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #ffffff;
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #616161;
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
    padding: 12px 5px;
    padding-left: 44px;
}

.skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: #272263;
    background-color: #F0F0F0;
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a {
    color: #272263;
    font-weight: 400;
    background-color: #f4f4f5;
}

.skin-blue .sidebar-menu>li.focus>a {
    background-color: red !important;
}


/* End Tree menu */


/* Start Pop over body */

.c-popover-body {
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgb(111 119 130 / 15%), 0 5px 20px 0 rgb(21 27 38 / 8%);
    box-sizing: border-box;
    flex-grow: 1;
    padding: 8px;
    margin-top: 12px;
}

.c-dropdown {
    align-items: center;
    color: var(--grey-400);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    padding: 0 32px 0 16px;
}


/* End Pop Over Body */

th.dt-center,
td.dt-center {
    text-align: center;
}




/*Custom change*/
.card-header {
    cursor: pointer;
}

.card-header h5 {
    color: #000;
}

.card-header:hover, .card-header:focus {
    background: #3D538C;
}

.card-header h5:hover {
    color: #ffff;
}


.Card--custom__header>.card-header:hover,
.Card--custom__header>.card-header:focus
 {

    background: #f5f5f5 !important;
    cursor: default !important;

}


.main-header .logo {
    height: 60px;
}


/**user profile **/
    .profile-details-wrapper {
        background: #fafafa;
        padding: 20px 15px;
        border-right: 4px solid #3884F5;
    }
    .profile-heading h2{
        font-size: 21px;
        position: relative;
    }
    .profile-heading h2:after{
        content: '';
        position: absolute;
        width: 60px;
        background-color:#3884F5;
        height: 4px;
        left: 0;
        bottom: -15px;
    }
    .profile-heading h2::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 59px;
        bottom: -17px;
        background-color: #3884F5;
    }
    .profile-info-wrapper {
        margin-top: 50px;
    }
    .user-profile-image {
        text-align: center;
    }
    .user-profile-image img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 4px solid #f2f2f2;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    }
    .user-information{
        margin-top: 30px;
    }
    .info-overflow {
        height: 383px;
        overflow-y: auto;
    }
    .info-title{
        background:#3884F5;
        width: 40%;
        padding: 0px 15px;
    }
    .info-title h3 {
        font-size: 18px;
        font-weight: 800;
        color: #fff;
        margin: 0px;
        line-height: 40px;
    }
     .info-details{
        padding: 0px 15px;
        border: 1px solid #ddd;
        width: 60%;
     }
    .info-details p{
        margin: 0px;
        font-size:18px;
        line-height: 40px;
    }
    #userEditForm .modal-body {
        padding: 10px 0px;
    }
    .user-form-heading {
        background: #3884F5;
        padding: 0px 15px;
    }
    .user-form-heading h2{
        font-size: 18px;
        line-height: 40px;
        font-weight: 800;
        color: #fff;

    }
    .form-control {
        font-size: 13px;
    }
    .form-line label {
        font-size: 13px;
    }
/** end of user profile **/
#example1_wrapper {
   overflow: hidden;
}
.action-buttons{
    display: flex;
}
.btn.btn-primary.btn-flat i {
    font-size: 12px;

}
.btn.btn-danger.btn-flat i {
    font-size: 12px;
}
/** reponsive */
@media screen and (min-width : 1100px){
   .main-sidebar {
    width: 300px;
}
    .content-wrapper {
        margin-left: 300px;
    }
}
@media screen and (max-width : 1024px){
    .row.user-screen .col-sm-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .user-form-heading{
        margin-top: 30px;
    }
}
@media screen and (max-width: 767px){
    .fixed .main-header {
        background: #fff;
    }
    .row.user-screen {
        margin: 110px 0px !important;
    }
}
@media screen and (max-width: 500px){
    .info-title h3 {
        font-size: 14px;
        line-height: 30px;
    }
    .info-details p {
        font-size: 14px;
        line-height: 30px;
    }
    .user-form-heading h2 {
        font-size: 14px;
        line-height: 30px;
    }
}
@media screen and (max-width: 400px){
    .info-details p {
        font-size: 10px;
        line-height: 30px;
    }
    .info-title h3 {
        font-size: 12px;
    }
}
/** end of responsive **/

.content{
    min-height: 800px;
    background-color:#fff;
}

.recently-added-customer {
    background: #fff;
    padding: 20px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    margin-bottom: 30px;
}
.table-heading{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.table-action a.create-action{
    background: #3D538C;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
/**rescently add customer **/
/** leadership board css **/
.dataTable {
    width: 100% !important;
}
table tbody tr td{
    font-family: Open Sans !important;
    font-size: 13px !important;
    font-weight: 500;
}
table thead tr th{
    font-family: Open Sans !important;
    font-size: 13px !important;
    font-weight: 500;
}
.dataTable tbody th, .dataTable tbody td {
    padding: 10px 10px !important;
    line-height: 24px;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 0px !important;
}
.dataTable.no-footer {
    border: 0.5px solid #F0F0F0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px !important;
}
.dataTables_info {
    color: #999 !important;
}
.page-link {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #3E66FB !important;
    border-radius: 4px;
}
.paginate_button.page-item.active a {
    color: #3E66FB;
    border: 1px solid #3E66FB;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none !important;
    border: 0px;
    box-shadow:none !important;
}

.leadership-section{
    background: #fff;
    padding: 20px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    margin-bottom: 30px;
}
.leadership-section table{
    border: 0px !important;
}
.leadership-section table thead {
    background: #E7EAEE;
}
.leadership-section table thead tr th {
    line-height: 35px;
    color: rgba(0, 0, 0, 0.5);
}
.leadership-section table tbody tr:first-child td {
    line-height: 70px;
}
.leader-star img {
    margin-left: 10px;
}
.leader-name-block {
    display: flex;
    align-items: center;
}
.leade-image {
    margin-right: 20px;
}
.leade-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/** end of leadershil board css **/
.table-title {
    flex: 1;
}
.table-title h2 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #52575C !important;
    font-weight: 800;
    margin: 0px;
}
.follow-title h2{
    color: red !important;
}
.recently-added-customer-table {
    width: 100%;
}
.table-action .create-action {
    background: #3D538C;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
}
.view-action {
    background: rgba(160, 164, 168, 0.2);
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #253254;
    border: 0.5px solid #A0A4A8;
}
.recently-added-customer-table thead tr th {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 40px;
}
.recently-added-customer-table tbody tr td {
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    align-items: center;
    color: #2E3B52;
}
.recently-added-customer-table thead tr th {
    border-bottom: 1px solid #ddd;
}
.recently-added-customer-table tbody tr td {
    border-bottom: 1px solid #ddd;
}
.table-pagination {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.table-pagination nav ul li.active span {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #3E66FB;
    color: #3E66FB !important;
    border-radius: 4px;
    border: 1px solid #3E66FB;;

}
.table-pagination nav ul li:first-child, .table-pagination nav ul li:last-child{
    display: none;
}
.table-pagination nav ul li {
    margin-left: 10px;
    width: 37px;
    text-align: center;
}
.table-pagination nav ul li a{
    border-radius: 4px;
    border: 1px solid  rgba(0, 0, 0, 0.2);
}
/**end of recently add customer **/
.main-header .navbar {
    margin-left: 299px;
}
.input-group.rounded.col-md-6 {
    padding: 0px;
}
.content-remark{
    width: 100%;
    text-align: left;
}
.lead-content {
    text-align: left;
}

.content.home{
    padding: 45px 25px;
    background-color: #fafafa;
}
.main-header {
    background: #fff;
}

.dashboard-numbers{
    background: #fff;
    padding: 20px 15px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 24%);
    border-radius: 4px;
    margin-bottom: 30px;
}
.filter-button {
    letter-spacing: 0.25px;
    color: #828282;
    background: none;
    box-shadow: none;
    border: 0.5px solid rgba(37, 50, 84, 0.2);
    border-radius: 4px;
    padding: 8px 19px;
}
.filter-button.active{
    background-color: #5E77B9;
    border: 0.5px solid #5E77B9;
    color: #fff;
}
.dashboard-number-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.dashboard-number-item {
    width: calc(100% / 4 - 20px);
    background: #FFFFFF;
    border: 0.5px solid rgba(37, 50, 84, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
}

.number-content-wrapper{
    padding: 20px 15px;
}
.number-content-wrapper p {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #253254;
}
.number-content .number h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.1px;
    color: #253254;
    margin: 0;
}
.number-content{
    display: flex;
    justify-content: space-between;

}
.up-down {
    display: flex;
    align-items: end;
    font-size: 14px;
}
.up-down.up-green{
    color: #32BC2F;

}
.up-down span{
    display: inline-block;
    margin-right: 5px;
}
.up-down i{
    font-size: 12px;
}

.document-submit {

    display: flex;
    justify-content: center;
}
.leadership-section table tbody tr:first-child td {
    font-size: 16px !important;
}
.dataTables_filter {
    order: 1;
}
.dataTables_scrollHead {
    overflow-x: auto !important;
}
.dataTables_scrollHead .custom_datatable_wrapper {
    overflow: hidden !important;
}

/** my plan accordian **/
.my-plan-wrapper {
    margin-top: 15px;
}

.my-plan-btn {
    display: flex;
    align-items: center;
    background: #ccc;
    padding: 5px 15px;
    height: 42px;
}
.toggle-my-plan {
    margin-left: auto;
    background: none;
    border: 0;
    font-size: 19px;
}
.toggle-my-plan i {
    color: #fff;
    transition:0.8s;
}
.my-plan-btn h1 {
    font-size: 16px;
    margin: 0;
    font-family: roboto;
    color: #fff;
}
.my-plan-item-wrapper {
    margin-bottom: 15px;
}
.my-plan-details {
    background: #fff;
    padding: 15px 15px;
    border: 1px solid #ccc;
    display: none;
}
.toggle-my-plan.active i {
    transform: rotate(180deg);
}
 .info_form ul li input {
        background: #fff;
        border: 1px solid #dddd;
        line-height: 29px;
        text-indent: 5px;
    }
    .info_form ul li select{
        background: #fff;
        border: 1px solid #dddd;
        height: 29px;
        text-indent: 5px;
    }
/** end of my plan accordian **/

/** add premium paid btn **/
.premium_paid_btn {
    margin-top: 15px;
    border: 1px solid #ddd;
    background: none;
    font-size: 13px;
    padding: 6px 15px;
    background: #ddd;
    color: #111;
}
.premium_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.premium-group select {
    width: 100%;
    background: none;
    border: 1px solid #ddd;
    line-height: ;
    height: 32px;
}
.premium-status {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}
.verify_red {
    color: red;
}
.verify_green{
    color: green;
}
.premium_form .premium-group {
    width: calc(100% / 2 - 10px);
    margin-top: 10px;
}
.premium-group label {
    display: flex;

    font-size: 13px;
    font-weight: 500;
}
.update-premium-btn {
    margin-left: auto;
    background: none;
    border: 0;
    color: #3886FA;
    height: 18px;
}
.premium-group input {
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 12px;
    color: #111;
    outline: none;
    text-indent: 7px;
}
.remove-premium-form {
    border: 0px;
    background: #FF5455;
    color: #fff;
    height: 17px;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0px 11px;
}
.premium-paid-details {
    background: #fafafa;
    padding: 15px;
}
.premium-paid-item h1 {
    background: #00a65a;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    margin-bottom: 0px;
}
.premium-paid-item {
    background: #fff;

}
.premium-paid-item li {
    padding: 0px 15px;
}
.follow-up {
    color: red;
}
/** end of premium paid btn **/


/** tootips **/

.custom-tooltip {
  display: inline;
  position: relative;
  cursor: pointer;
}
.custom-tooltip:hover::after {
    content: attr(tools);
    position: absolute;
    display: block;
    display: -webkit-block;
    background: #ddd;
    color: #111;
    width: 250px;
    padding: 10px 15px;
    top: 29px;
    z-index: 999999;
    left:-21px;
    white-space: break-spaces;
    word-break: break-all;
    line-height: 17px;
    font-size: 12px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
/*.custom-tooltip:hover::before {
    border: solid;
    border-color: #ddd transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 45%;
    bottom: -73px;
    content: '';
    position: absolute;
    z-index: 99;
}*/

.dt-button.policy-filter {
    padding: 0;
}
.dt-button.policy-filter span select {
    background: none;
    border: 0;
    width: 100%;
    padding: 0px 15px;
}

.dt-button.policy-btn-life {
    padding: 0;
}
.dt-button.policy-btn-life span select {
    background: none;
    border: 0;
    padding: 0px 5px;
    height: 39px;
}

.non-found {
    font-size: 16px;
    color: red;
    text-align: center;
    margin-bottom: 0px;
}
.table-action {
    display: flex;
    column-gap: 10px;
}
.date_filter_wrapper {
    display: flex;
}

.date_filter_wrapper input {
    height: 41px;
    font-size: 12px;
    border: 1px solid rgba(37, 50, 84, 0.2);
    outline:none;
}
.date_filter_btn {
    height: 41px;
    border: 0px;
    font-size: 14px;
    padding: 0px 11px;
    background: #3D538C;
    color: #fff;
}

.follow_up_edit {
    background: none;
    border: 0px;
    font: 16px;
    font-size: 18px;
    color: #3E66FB;
}
.followup-form-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    background: rgba(0,0,0,0.2);
    display: none;
}
.follow-up-form {
    background: #fff;
    width: 25%;
    height: auto;
    margin: auto;
    box-shadow: 0px 0px 2px #ddd;
    border-radius:15px;
}
.follow-title {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}
.follow-dismis {
    margin-left: auto;
    background: none;
    border: 0;
    font-size: 19px;
}
.follow-title h1{
    font-size: 21px;
    font-weight: 600;
    margin: 0px;
}
.follow-up-form form {
    padding: 15px 20px;
}
.follow-up-form form input{
    width: 100%;
    border: 1px solid #ddd;
    height: 40px;
    text-indent: 10px;
    font-size: 14px;
}
.follow-submit {
    background: #3E66FB;
    border: 0;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 4px;
}


/** lead import popup **/
.lead-import-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
     display: none;
    z-index: 9999;
}
.lead-form-wrapper {
    background: #fff;
    width: 25%;
    margin: auto;
    min-height: 250px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}
.lead-import-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.import-dismiss {
    font-size: 23px;
    background: none;
    border: 0px;
    color: #000;
    margin-left: auto;

}
.import-input {
    display: none;
}
.import-text  {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.import-text label{
    width: 100%;
    text-align: center;
}
.import-text label i {
    font-size: 100px;
    color: #ddd;
}
.import-button button {
    margin: 0 !important;
    width: 100%;
    margin-top: 20px !important;
}
.lead-import-header h1 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 0px;
    line-height: 40px;
}
.import-form {
    padding: 15px;
    margin-bottom: 0px;
}

/** end of lead import popup **/
select, input, option {
    font-family: open sans;
}
.justify-content-center.action-buttons {
    display: flex;
    align-items: center;
}
.recently-added-customer{
    margin-bottom: 30px;
}
/** lead info pop **/
.leads-info {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    display: none;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
}
.convert-policy-btn {
    background: green;
    color: #fff;
    padding: 5px 8px;
    border: 0px;
    margin-top: 14px;
    border-radius: 5px;
    margin-left: 10px;
}
.remove-convert-policy-btn{
    background: red;
    color: #fff;
    padding: 5px 8px;
    border: 0px;
    margin-top: 14px;
    border-radius: 5px;
    margin-left: 10px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}


@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
.popup-zoom-in{
    animation-name: zoom;
    animation-duration: 0.6s;
}
.popup-zoom-out{
    animation-name:zoom-out;
    animation-duration: 0.6s;
}
.leads-info-wrapper {
    background: #fff;
    width: 35%;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    position: relative;
}
span.span-followtime {
    margin-left: 30px;
}
.lead-dismiss img {
    opacity: 0.5;
}
.lead-info-header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    border-bottom: 1px solid #E0E0E0;
}
.lead-info-header .lead-name {
    flex: 1;
    display: flex;
    align-items: center;
}
.lead-info-header .lead-action-button button{
    background: none;
    border: 0px;
    margin-left: 10px;
}
.lead-edit {
    background: #3987FB !important;
    color: #fff;
    font-size: 14px !important;
    padding: 5px 15px;
    border-radius: 4px;
}
.lead-info-header .lead-name h5 {
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.lead-tab-title ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0;
    height: 50px;
}
.lead-tab-title ul li{
    width: calc(100% / 4);
}

.lead-tab-title ul li a{
    display: block;
    text-align: center;
    font-size: 13px;
    line-height: 50px;
    color: #616161;
    transition: 0.8s;
}
.lead-tab-title ul li.active a,.lead-tab-title ul li:hover a{
    border-bottom: 2px solid #164F92;
    color: #164F92;
    font-size: 13px;
}

.info-wrapper{
    background: #fafafa;
    padding: 15px 30px;
}
#lead-remark .remark-btn {
    margin-left: 30px;
}
.content-remark p {
    white-space: break-spaces;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0px;
}
.create-date {
    font-size: 11px;
    margin-left: 25px;
    color: #ccc;
    margin-top: 5px;
    display: block;
    text-align: right;
    font-weight: 600;
    margin-bottom: 20px;
}
#lead-remark .info-wrapper {
    flex-flow: row wrap;
}
.metting{
    flex: 1;
}
.person-name h5 {
    font-size: 14px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #333333;
}
.remark-form-wrapper {
    padding: 15px 30px;
}
#lead-remark a {
    font-size: 14px;
    margin-bottom: 30px;
    display: inline-block;
}
.info-wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.info-wrapper ul li {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

}
.status-pending {
    color: red;
    margin-bottom: ;
}
.status-paid{
    color: green;
}
.custom-validation-message-error {
    width: 100% !important;
    display: block;
    font-size: 12px;
    color: red !important;
}
.info-wrapper ul li strong{
    width: 40%;
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    color: #1F1F1F;
}
.info-wrapper ul li p{
    width: 60%;
    font-weight: 500;
    font-size: 12px;
    color: #333333;
    margin-bottom: 0px;
}
.lead-tab-wrap{
    display: none;
}
.lead-tab-wrap.active{
    display: block;
}
.btn.btn-success.btn-sm.view-detail-lead {
    padding: 10px;
}
.remark-form {
    margin-bottom: 20px;
}
.remark-group-row {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;

}
.remark-group-row .form-group{
    width: 48%;
}
.remark-group-row .form-group input {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: none !important;
    border-radius: 2px;
    border: 2px solid #f0f0f0;
    text-indent: 10px;
}
.remark-remove a {
    font-size: 15px;
    color: red;
}
.custom-validation-message-error {
    font-size: 12px;
    color: red;
}

.remark-remove {
    display: flex;
    justify-content:right ;
   margin-top: 15px;
}
.remark-remove a{
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 9px 12px;
    color: rgba(36, 36, 36, 0.5);
    font-size: 15px;
    margin-right: 6px;
     width: 100px;
    justify-content: center;
    height: 42px;
    display: flex !important;
    align-items: center;

}
.remark-remove button{
    background: #3879C5;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.32), 0px 1.6px 3.6px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
    padding: 8px 12px;
    border: 0px;
    color: #fff;
    font-size: 15px;
    width: 100px;
    justify-content: center;
    height: 42px;
    display: flex;
    align-items: center;

}
.remark-footer {
    display: flex;
    width: 100%;
}
.metting{
    display: flex;
    align-items: center ;
    flex-flow: row wrap;
}
.metting span{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.span-followdate {
    margin-right: 25px;
}
.metting span {
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    font-weight: 600;
}
.span-followtime{
    position: relative;
}
.span-followtime::before {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #13A10E;
    border-radius: 50%;
    left: -13px;
    top: 3px;
}

form#lead-transfer-request {
    width: 100%;
    padding: 0px !important;
    margin: 0px;
}
select.lead-transfer-control {
    width: 100%;
}

/** end of lead pop **/

/** end of leader ship board **/
 @media only screen and (min-width: 1500px){
    .leads-info-wrapper{
        background: #fff;
        width: 29%;
        margin: auto;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
        min-height:477px;
        position: relative;

    }
 }
.info-wrapper ul li input, .info-wrapper ul li select {
    width: 60%;
    font-size: 13px;
    color: var(--grey-450);
    font-family: open sans;
    font-weight: 500;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
.edit-lead-bttn {
    background: #3D538C !important;
    font-size: 15px;
    color: #fff;
    padding: 3px 20px;
    border-radius: 4px;
    border: 0px;
    margin-top: 15px;
}
.form-loader i {
    font-size: 100px;
    color: #ccc;
}
.form-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background: rgba(255,255,255,0.5);
}
.icon-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon-button-pop{
    position: absolute;
    top: -5px;
    right: -5px;
}


.swal2-container.swal2-bottom, .swal2-container.swal2-center, .swal2-container.swal2-top {
    z-index: 99999;
}
.validation-error {
    font-size: 14px;
    color: red;
}


.premium-collection-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    justify-content: center;
}
.premium-collection-popup {
    background: #fff;
    height: 500px;
    width: 50%;
    margin: auto;
}
.premiumdetails-content-wrapper {
    background: #fafafa;
    width: 100%;
    height: 450px;
    overflow-y:auto;
    padding: 20px;
}
.pop-up-heading{
   display: flex;
   width: 100%;
   border-bottom: 1px solid #ddd;
   align-items: center;
   padding: 10px 20px;
}
.pop-up-heading h1 {
    margin: 0;
    font-size: 21px;
}
.premium-dismiss{
    background: none;
    border: 0px;
    margin-left: auto;
}
.premium-dismiss img{
    opacity: 0.5;
}
.accordian-heading-wrapper {
    background: #ccc;
    padding: 7px 10px;
    display: flex;
    align-items: center;
}
button.toggle-premium {
    margin-left: auto;
    background: none;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.accordian-heading-wrapper h4{
    margin: 0px;
    color: #fff;
    font-size: 18px;
}
.premium-accordian-item {
    margin-bottom: 15px;
}

.permium-details-wrapper {
    background: #fff;
    padding: 15px;
    display: none;
}
.permium-details-wrapper .premium-paid-details li {
    line-height: 18px;
    margin-top: 10px;
}
.permium-details-wrapper ul {
    padding: 0;
    list-style: none;
}
.permium-details-wrapper ul li {
    display: flex;
    align-items: center;
}
.permium-details-wrapper ul li strong{
    font-size: 14px;
    width: 30%;

}
.permium-details-wrapper ul li span{
    font-size: 12px;
}
.permium-details-wrapper ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.premium-status-wrapper {
    margin-left: auto;
}
.status-change-button {
    color: #000;
    border: 0;
    font-size: 12px;
    padding: 5px 7px;
}
.red-btn.active{
    background: red;
    color:#fff;
    pointer-events: none;
}
.green-btn.active{
    background: green;
    color: #fff;
    pointer-events: none;
}
.leadership-section table thead tr th:first-child {
    width: 20px !important;
}
#lifeleadershipdatatableTable_length {
    display: none;
}
.not-found{
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
.position-image {
    margin-left: 10px;
}
.position-image.third-img img {
    filter: brightness(0.6);
}
.customer-status-change-button {
    border: 0;
    background: #ddd;
    padding: 5px 10px;
}

 /** custom filter **/
    .filter-block{
        background:#fafafa;
        padding: 20px;
        margin-bottom: 15px;
        border-bottom: 5px solid #324679;

    }
    .leads-filter{
        display: none;
    }
    .filter-form-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }  
    .filter-heading{
        margin-bottom: 15px;
    }
    .filter-heading h1 {
        margin-bottom: 0px;
        font-size: 24px;
    }
    .form-filter-item label {
        display: block;
        font-size: 16px;
        color: #2A2A2A;
    }
    .form-filter-item .filter-input {
    width: 100%;
    height: 45px;
    background: none;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(147, 152, 191, 0.25);
    color: #111;
    font-family: Roboto;
    padding: 0px 10px;
    font-size: 14px;
    outline: none;
}
.filter-button-wrapper{
    display: flex;
    align-items:end;
}
.filter-submit {
    width: 100%;
    background: #324679;
    color: #fff;
    border: 0px;
    font-size: 20px;
    padding: 7px 0px;
}
.filter-reset {
    width: 100%;
    border: 0;
    background: red;
    color: #fff;
    border: 0px;
    font-size: 20px;
    padding: 7px 0px;
}
 /*** end of custom css **/
.confirm-popup {
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
}
.confirm-header h1 {
    font-size: 18px;
}
.confirm-wrapper {
    background: #fff;
    width: 25%;
    margin: auto;
}
.confirm-header {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 9px 15px;
    align-items: center;
}
.confirm-header h1 {
    margin: 0;
    border: 0px;
}
.confirm-action{
    margin-left: auto;
}
.confirm-info-wrapper{
    padding: 20px 15px;
}
.confirm-info-wrapper ul{
    list-style: none;
    padding: 0px;
}
.confirm-info-wrapper ul li {
    display: flex;
    line-height: 30px;
}
.confirm-info-wrapper ul li strong {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
}
.confirm-info-wrapper ul li span {
    font-size: 14px;
}
.confirm-action.green-btn {
    background: green;
    color: #fff;
    font-size: 14px;
    border: 0;
    padding: 3px 7px;
}
.confirm-action.red-btn{
     background: red;
    color: #fff;
    font-size: 14px;
    border: 0;
    padding: 3px 7px;
}
.confirm-dismiss {
    background: none;
    border: 0;
    color: #000;
    font-size: 20px;
    margin-left: 20px;
}