/* About us css */
.about-us {
    display: none;
}

p .loadimage {
    cursor: pointer;
}

.btnsubmit {
    clear: both;
}

.linkquick {
    margin-top: 30px;
}

img {
    max-width: 100%;
}

/* End of about us css */

/* //nonlife css part */
.calculation-nav li, .calculation-nav li a {
    padding: 20px 10px;
}

.calculation-nav li .active {
    color: #444;
    background: #f7f7f7;
}

.calc-from {
    padding: 50px 20px;
}

.input-group-prepend {
    min-width: 20%;
    width: auto;
}

.input-group-text {
    width: 100%;
}

.check-title {
    width: 50%;
}

.radio-box {
    width: 15%;
}

.next-prepend {
    min-width: 40%;
    width: auto;
}

.border-attachment {
    border: 1px solid #ced4da;
    padding: 20px 0;
}

.make-border-text {
    position: relative;
    top: -32px;
    background: #ffff;
}

.debit-note {
    float: right;
}

.one-l {
    display: inline;
    width: auto;
}

/* endof nonlife css part */
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.custom-file {
    height: auto !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    height: 100% !important;
}

#issuedDateDisplay #ndp-nepali-box {
    top: 215px !important;
    right: 55px !important;
    left: auto !important;
}

#dateDisplay #ndp-nepali-box {
    top: 120px !important;
    right: 55px !important;
    left: auto !important;
}

#editDateDisplay #ndp-nepali-box {
    top: 70px !important;
    left: 250px !important;
    right: auto !important;
}

@media only screen and (max-width: 1025px) {
    .select-cust-modal {
        max-width: 95% !important;
    }

}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}

/* //Sidebar  */
/* * {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Roboto';
    color: #333542;
} */

/* body {
    font-size: .875rem;
}

.gry-color *,
.gry-color {
    color: #878f9c;
}

table {
    width: 100%;
}

table th {
    font-weight: normal;
}

table.padding th {
    padding: .5rem .7rem;
}

table.padding td {
    padding: .7rem;
}

table.sm-padding td {
    padding: .2rem .7rem;
}

.border-bottom td,
.border-bottom th {
    border-bottom: 1px solid #eceff4;
}
.border-all {
    border: 1px solid #eceff4;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.small {
    font-size: .85rem;
}

/* .currency {

} */
/*
    .text-bold {
        font-weight: bold;
    }
    .text-capitalize{
        text-transform: capitalize;
    }
 */






