@media only screen and (max-width : 1500px){
	.policy-compare-wrapper .form-wrapper {
		width: 75%;
	}
	.policy-compare-wrapper .form-input-details-wrapper {
		width:23%;
	}
}
@media only screen and (max-width : 1250px){
	.leads-info-wrapper {
		width: 44%;
	}
	.follow-up-form {
		width: 70%;
	}
	.policy-compare-wrapper .form-wrapper {
		width: 100%;
	}
	.policy-compare-wrapper .form-input-details-wrapper {
		width: 100%;
	}
}
@media only screen and (max-width : 1024px){
	.table-action a span {
		display: none;
	}
	.view-action {
		display: flex;
		align-items: center;
	}
	.view-action i{
		display: block;
	}
	.dashboard-number-item {
		width: calc(100% / 2 - 20px);
	}
	.leadership-section table thead tr th:nth-child(3){
		display: none;
	}
	.leadership-section table tbody tr td:nth-child(3) {
		display: none;
	}
	.recently-added-customer-table thead tr th:nth-child(5),.recently-added-customer-table thead tr th:nth-child(6) {
		display: none;
	}
	.recently-added-customer-table tbody tr td:nth-child(5),.recently-added-customer-table tbody tr td:nth-child(6){
		display: none;
	}
	.recently-added-customer-table thead tr th:nth-child(3),.recently-added-customer-table thead tr th:nth-child(4) {
		display: none;
	}
	.recently-added-customer-table tbody tr td:nth-child(3),.recently-added-customer-table tbody tr td:nth-child(4){
		display: none;
	}
	#followupdatatable_table thead tr th:nth-child(6) {
		display: none;
	}
	#followupdatatable_table tbody tr td:nth-child(6) {
		display: none;
	}
	#followupdatatable_table thead tr th:nth-child(3) {
		display: none;
	}
	#followupdatatable_table tbody tr td:nth-child(3) {
		display: none;
	}
	#recentlyaddedcustomerdatatable_table thead tr th:nth-child(4){
		display: none;
	}
	#recentlyaddedcustomerdatatable_table tbody tr td:nth-child(4) {
		display: none;
	}
	#recentlyaddedcustomerdatatable_table thead tr th:nth-child(6){
		display: none;
	}
	#recentlyaddedcustomerdatatable_table tbody tr td:nth-child(6) {
		display: none;
	}
	#recentlyaddedcustomerdatatable_table thead tr th:nth-child(7){
		display: none;
	}
	#recentlyaddedcustomerdatatable_table tbody tr td:nth-child(7) {
		display: none;
	}
	.main-header .navbar {
		margin-left: 225px;
	}
	.navbar.navbar-static-top.d-flex-row.justify-content-between {
		display: flex;
		align-items: center;
	}

	.navbar.navbar-static-top.d-flex-row.justify-content-between .d-flex .c-page-tile p {
		font-size: 17px;
	}
	.header-action a img {
		width: 16px;
	}
	.header-action a {
		height: 35px !important;
		width: 35px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.user-image {
		height: 35px;
		width: 35px;
		border-radius: 50%;
	}
	.leads-info {
		z-index: 9999;
	}
	.leads-info-wrapper {
		width: 50%;
	}
}

@media only screen and (max-width : 835px){
	.filter-form-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
	.leadership-section{
		overflow: hidden;
	}
	.dropdown.header-action.mx-2 {
		display: none;
	}
	.navbar-right.d-flex.flex-row.mr-5 {
		margin-right: 5px !important;
	}
	.leadership-section table thead tr th:nth-child(3) {
		display: none;
	}
	.leadership-section table tbody tr td:nth-child(3){
		display: none;
	}
	#followupdatatable_table thead tr th:nth-child(5) {
		display: none;
	}
	#followupdatatable_table tbody tr td:nth-child(5) {
		display: none;
	}
	#recentlyaddedcustomerdatatable_table thead tr th:nth-child(5){
		display: none;
	}
	#recentlyaddedcustomerdatatable_table tbody tr td:nth-child(5) {
		display: none;
	}
	.dataTables_wrapper .top {
		display: flex;
		flex-flow: row wrap;
	}
	.dataTables_wrapper .top .left-col {
		width: 100%;
		order: 2;
		margin:15px 0px;
	}
	.dataTables_wrapper .top .right-col {
		width: 100%;
	}
	.form-input-wrapper .form-label {
		width: 100%;
		margin-right: 0px;
	}
	.form-input-wrapper .form-input {
		width: 100%;
	}
	.form-label label {
		margin-bottom: 10px !important;
	}
	
}

@media only screen and (max-width: 767px){
	.follow-up-form {
		width: 70%;
	}
	table tbody tr td {
		font-size: 11px !important;
	}
	table thead tr th {
		font-size: 11px !important;
	}
	.skin-blue .main-header .logo {
		background: none !important;
		display: none;
	}
	.navbar.navbar-static-top.d-flex-row.justify-content-between {
		margin: 0;
	}
	.number-content .number h1 {
		font-size: 30px;
	}
	.content.home {
		padding: 25px 15px;
		background-color: #fafafa;
	}
	table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
		padding-right: 20px;
	}
	
	.table-pagination nav ul {
		display: flex;
		flex-flow: row wrap;
		row-gap: 10px;
		justify-content: center;
	}
	.leadership-section table thead tr th {
		line-height: 20px;
		color: rgba(0, 0, 0, 0.5);
	}
	#followupdatatable_table thead tr th:nth-child(4) {
		display: none;
	}
	#followupdatatable_table tbody tr td:nth-child(4) {
		display: none;
	}
	#recentlyaddedcustomerdatatable_table thead tr th:nth-child(2){
		display: none;
	}
	#recentlyaddedcustomerdatatable_table tbody tr td:nth-child(2) {
		display: none;
	}
	.leads-info-wrapper {
		width: 95%;
	}
	.lead-tab-title ul {
		flex-flow: row wrap;
	}
	.dataTables_wrapper .top .right-col {
		width: 100%;
		flex-flow: row wrap;
	}
	.dataTables_length {
		width: 100%;
		margin: 0px;
		margin-bottom: 10px;
	}
	.custom-select.custom-select-sm.form-control.form-control-sm {
		margin: 0px;
	}
	.dataTables_wrapper .top .right-col .dt-buttons {
		flex-flow: row wrap;
		justify-content: space-between;
		row-gap: 15px;
		width: 100%;
	}
	.dt-buttons{
		margin: 0px;
	}
	.dt-buttons a {
		width: calc(100% / 3 - 20px);
	}
}
@media only screen and (max-width:  640px){
	.filter-form-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	.follow-up-form {
		width: 90%;
	}
	.dashboard-number-item {
		width: calc(100% / 2 - 7px);
	}
	.leader-name p {
		line-height: 15px;
		dominant-baseline: ;
		display: flex;
		align-items: center;
	}
	.dataTables_info {
		font-size: 11px !important;
		text-align: left !important;
	}
	.pagination li a,.pagination li span {
		font-size: 11px !important;
		padding: 5px 10px;
	}
	table.dataTable tbody th, table.dataTable tbody td {
		line-height: 20px !important;
		padding: 13px 0px;
		font-size: 13px !important;
		padding: 15px 0px !important;
	}
	.leads-tab-content .col-6 {
		/* width: 100% !important; */
		flex: 0 0 100%;
		max-width: 100%;
	}
	.table-heading {
		margin-bottom: 15px;
		flex-flow: row wrap;
	}
	.table-title {
		width: 100%;
	}
	.table-action {
		width: 100%;
	}
	.table-action {
		width: 100%;
		margin-top: 15px;
	}
	.dataTable tbody tr td {
		padding: 6px 10px !important;
	}
}
@media only screen and (max-width:  480px){
	.dt-buttons a {
		width: calc(100% / 2 - 20px);
	}
	.follow-up-form {
		width: 95%;
	}
	.lead-tab-title ul {
		height: auto;
	}
	.lead-tab-title ul li {
		width: calc(100% / 2);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		border-right: 1px solid rgba(0,0,0,0.1);
	}
}
@media only screen and (max-width:  450px){
	.dt-button.buttons-excel {
		display: none !important;
	}
	.navbar.navbar-static-top.d-flex-row.justify-content-between .d-flex .c-page-tile p {
		font-size: 17px;
		line-height: 24px;
	}
	.navbar.navbar-static-top.d-flex-row.justify-content-between {
		display: flex;
		flex-flow:row;
	}
	.c-page-tile {
		display: flex;
		align-items: center;
	}
	.filter-button {
		padding: 4px 9px;
		font-size: 12px;
	}
	.number-content .number h1 {
		line-height: 12px;
	}
	#lifeleadershipdatatableTable_wrapper {
		overflow: auto;
	}
	.leade-image img {
		height: 24px;
		width: 24px;
	}
	table.dataTable thead th, table.dataTable thead td {
		padding: 10px 9px;
	}
	.leader-star img {
		width: 21px;
	}
	.table-title h2 {
		font-size: 16px;
	}
	.info-wrapper {
		background: #fafafa;
		padding: 15px 15px;
	}
	#lead-edit-form ul li strong {
		width: 100%;
	}
	#lead-edit-form ul li select,#lead-edit-form ul li input {
		width: 100%;
	}
}
@media only screen and (max-width:  390px){
	.table-title h2 {
		font-size: 18px;
	}
	.number-content-wrapper p {
		font-size: 14px;
		line-height: 20px;
		min-height: 41px;
	}
	

}

