.dropdown.mob-mnu.plans-cat.open a {
	background: none;
}
.mob-mnu.open .dropdown{
    display: block;
    transition: 0.8s;
}
.navbar-default .navbar-toggle {
    border: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    margin-top: 5px !important;
    transition: 0.8s;
}
.navbar-right {
    margin-right: 0px !important;
}
.header-login-btn.no-display-top {

}
.nav.navbar-nav.navbar-right.navbar-menus li {
    margin-right: 20px;
}
.nav.navbar-nav.navbar-right.navbar-menus li:last-child{
    margin-right: 0px;
}
.fa.fa-chevron-down.main-menu-chevron {
    margin-left: 5px;
    transition: 0.8s;
}
.dropdown-menu {
    width: 100%;
}
.navbar-nav > li {
	float: left;
	height: 87px;
	display: flex;
	align-items: center;
}
.plans-cat{
	position: relative;
}
.nav.navbar-nav.navbar-menus li a{
	color: #616161;
}
.navbar-right li:hover{
	transition: 0.1s !important;
	border-bottom:3px solid #798EC6 !important;
	border-radius: 2px 2px 0px 0px;

}

.dropdown-nav-item li.active a,.navbar-left li a:hover,.dropdown-nav-item li a:hover{
	background: #798EC6 !important;
	color: #fff !important;
	border-radius: 4px;
}
.nav.navbar-nav.navbar-right.navbar-menus li.normal-width:hover a {
	transition: none;
	color: #798EC6 !important;
}

.header-login-btn.no-display-top:hover {
	color: #fff !important;
}
.parent-dropdown {
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FAFAFA, #FAFAFA), #FDEAD6;
	box-shadow: 0px 0px 6px #000;
	width: 100%;
	border-radius: 4px;
	padding: 0px;
	list-style: none;
	padding: 0px;
	padding: 10px 0px;
	width: 700px;
	top: 75px;
	display:none;
	z-index: 99;
	left: -60px;
}
.parent-dropdown::after {
	position: absolute;
	content: '';
	border-bottom: solid 10px rgb(255,255,255);
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	top: -9px; 
	left: 15%;
}
.nav.navbar-nav.navbar-menus li a {
	margin-top: 8px;
}
@media screen and (max-width: 800px){
	.plans-cat.active .parent-dropdown{
		display: flex;
	}
	.plans-cat.active a .insurance-drop{
		transform: rotate(180deg);
	}
	.navbar-nav > li {
		height: auto !important;
	}
	.parent-dropdown {
		position: relative;
		top: 0px !important;
	}
	.dropdown-nav-item li.active .final-dropdown {
		display:block ;
	}
	.dropdown-nav-item li.active a {
		background: #798EC6 !important;
	}
	.dropdown-nav-item li.active .final-dropdown li a {
		background: none !important;
		color: #616161 !important;
	}
		.dropdown-nav-item li.active .final-dropdown li a .nav-heart img{
			filter: brightness(0%) !important;
		}
		.dropdown-nav-item li.active .final-dropdown li a:hover{
			background: #798EC6 !important;
		}
		.dropdown-nav-item li.active .final-dropdown li a:hover .nav-heart img{
			filter: brightness(100%) !important;
		}
}
@media screen and (min-width : 800px){
	.mob-mnu.main-menu-chevron,.mob-mnu:hover .main-menu-chevron {
	    transform: rotate(180deg);
	    transition: 0.8s;
	}
	.dropdown.mob-mnu.plans-cat:hover .parent-dropdown{
		display: flex;
	}

}
.dropdown-nav-item:first-child {
	border-right: 1px solid #ccc;
}

.parent-dropdown .dropdown-nav-item {
	width: calc(100% / 2);
	padding: 0px 10px;
}

.parent-dropdown .dropdown-nav-item li a {
	display: block;
	width: 100%;
	padding: 10px 15px !important;
	font-weight: 500;
	font-size: 14px;
	font-family: roboto;
}
.parent-dropdown .dropdown-nav-item li a span {
	background: #FAFAFA;
	padding: 7px 10px;
	display: inline-block;
	margin-right: 10px;
}
.parent-dropdown .dropdown-nav-item li a:hover span,.dropdown-nav-item li.active a span{
	background: #fff;
}

.dropdown-nav-item li {
	margin-bottom: 10px;
}

.navbar-nav > li > a {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}
.navbar-default .navbar-nav > li > a {
	transition: 0.8s;
    font-weight: 500;
    font-family: 'Karla';
    font-size: 16px;
}

.fa.fa-chevron-down.drop-chevron {
	float: right;
	background: none !important;
	transition: 0.8s;
	line-height: 21px;
}
.dropdown-nav-item li.active a .drop-chevron {
	color: #fff;
	background: none;
	transform: rotate(-90deg);

}

.final-dropdown {
	display: none;
	list-style: none;
}
.navbar.navbar-default.main-navigation {
	margin-bottom: 0;
}
.navbar.navbar-default.main-navigation.sticky-header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.navbar.navbar-default.main-navigation.sticky-header .navbar-header a img {
	height: 36px !important;
	width: 94px !important;
}
.navbar.navbar-default.main-navigation .navbar-header a img{
	transition: 0.8s;
}	
.navbar.navbar-default.main-navigation li{
	transition: 0.8s;
}
.navbar.navbar-default.main-navigation.sticky-header .dropdown.mob-mnu.plans-cat {
	height: 65px;
}
.navbar.navbar-default.main-navigation {
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.06);
}
.navbar.navbar-default.main-navigation.sticky-header .nav.navbar-nav.navbar-right.navbar-menus li {
	height: 65px;
}
.navbar.navbar-default.main-navigation.sticky-header .parent-dropdown {
	top: 67px;
}
/*.navbar.navbar-default.main-navigation.sticky-header .navbar-nav > li{
	height: 60px;
}
.navbar.navbar-default.main-navigation.sticky-header .navbar-header .navbar-brand{
	width: 150px;
}
.navbar.navbar-default.main-navigation.sticky-header .navbar-nav > li > a{
	font-size: 14px !important;
}
.navbar.navbar-default.main-navigation.sticky-header .navbar-nav > li > a {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}
.navbar.navbar-default.main-navigation.sticky-header .parent-dropdown {
	top: 63px;
}
.navbar.navbar-default.main-navigation.sticky-header .parent-dropdown::after {
	top: -9px;
}*/
.dropdown.mob-mnu.plans-cat .menu-icn {
	
	color: #616161 !important;

}

.nav.navbar-nav.navbar-right.navbar-menus li:last-child:hover {
	border: 0px !important;
}
.drop-chevron {
	float: right;
}

.navbar-brand img {
	width: 134px !important;

}
.fa.fa-heart-o.menu-icn.log-nav-btn {
	color: #48AEEC;
}
.navbar-default {
    background-color: #ffff;
    border-color: #ffff;
}

.navbar-brand {
    height: 100%;
}

.navbar-menus {
    margin-left: 30px;
}

.header-login-btn {
    padding: 5px 25px !important;
    background: #3A6DA7;
    color: #ffff !important;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
}
.header-login-btn:hover {
    background: #0b5ed7 !important;
    color: #ffff !important;
}
.normal-width{
	width: 100px;
}
.nav.navbar-nav.navbar-right.navbar-menus li:nth-child(4) {
	position: relative;
}
.nav.navbar-nav.navbar-right.navbar-menus li:nth-child(4)::after {
	position: absolute;
	content: ;
	content: '';
	background: #616161;
	height: 16px;
	width: 1px;
	top: 46%;
	right: 0;
}
.auth-wrapper {
	margin-left: 17px;
}
.navbar-header {
	width: 130px;
}