
/** non life calculation form **/
input:focus{
	outline: none !important;

}
select:focus{
	outline: none !important;
}
.nonlife-claim{
	display: none;
}
.visibel-none{
	visibility: hidden;
}
.nonlife-calculation-block{
	display:block;
	overflow: hidden;
	padding-top: 20px;
	min-height: 700px;
}
.nonlife-category-listing ul{
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-bottom: 2px solid #EBEBEB;
}

.nonlife-category-listing ul li a span {
	display: block;
	text-align: center;
}
.nonlife-category-listing ul li a span.nonlife-cat-icon{
	margin-bottom: 5px;
}
.nonlife-category-listing ul li a span.nonlife-cat-icon img{
	filter: brightness(10%);
	opacity: 0.8;

}
.nonlife-category-listing ul li a span.nonlife-name{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #616161;
}
.nonlife-category-listing ul li.active,.nonlife-category-listing ul li:hover{
	border-bottom: 2px solid #17498A;
}
.nonlife-category-listing ul li.active a span.nonlife-cat-icon img,.nonlife-category-listing ul li:hover a span.nonlife-cat-icon img {
	filter: brightness(100%) !important;
	opacity: 1;
}
.nonlife-category-listing ul li:hover span.nonlife-name{
	color:#17498A ;
}
.nonlife-category-listing ul li.active span.nonlife-name{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #17498A;
}
.nonlife-category-listing ul li {
	width: 170px;
	height: 55px;
	margin-right: 5px;
}
.nonlife-insurance-type ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-flow: row wrap;
	margin-top: 30px;
}
.nonlife-insurance-type ul li {
	margin-right: 30px;
	border: 1px solid #E5E5E5;
	width: 175px;
	text-align: center;
	padding: 35px 0px;
	position: relative;
	border-radius: 3px;
}
.nonlife-insurance-type ul li::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0.3);
	top: 11px;
	right: 13px;
}
.nonlife-insurance-type ul li.active{
	border-color:#17498A;
}
.nonlife-insurance-type ul li.active a{
	color: #17498A;
}
.nonlife-insurance-type ul li.active::before {
	background: #17498A;
	border: 2px solid #17498A;
	background-image: url('/frontend/img/nonlife/check.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.nonlife-insurance-type ul li a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #000;
}
/** end of non life calculation form **/
/** form css **/
.full-width{
	width: 100% !important;
}
.nonlife-calculation-form-wrapper{
	margin-top: 30px;
}
.nonlife-row {
	display: flex;
	flex-flow: row wrap;
	row-gap: 30px;
}
.nonlife-tab-content{
	display: none;
}
.nonlife-row{
	justify-content: space-between;
}
.nonlife-row .nonlife-form-group {
	width: calc(100% / 2 - 20px);
}

.nonlife-form-group label{
	display: block;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 15px;
	color: #253254;
}
.nonlife-form-group select.custom-form-control{
	background: rgba(239, 241, 247, 0.5);
	width: 100%;
	border: 0px;
	box-shadow: none;
	height: 45px;
	padding: 0px 20px;
	border-radius: 3px;
	font-size: 16px;
	appearance: none;
	background-image: url('/frontend/img/down-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: 95% 50%;
	/* color: rgba(0, 0, 0, 0.25); */
	color: #484849;
}
.nonlife-form-group input.custom-form-control{
	background: rgba(239, 241, 247, 0.5);
	width: 100%;
	border: 0px;
	box-shadow: none;
	height: 40px;
	padding: 0px 20px;
	font-size: 16px;
}
.nonlife-form-group input::placeholder{
	color: rgba(0, 0, 0, 0.25);
}
.non-life-submit-buttton{
	background: #3D538C;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	border: 0px;
	box-shadow: none;
	padding: 7px 50px;
	border-radius: 4px;
}
/*.voluntary-excess{
	display: none;
}*/
.radio-button-row {
	display: flex;
	flex-flow: row wrap;
}
.radio-button-row .radio-item {
	width: calc(100% / 5 - 20px);
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	position: relative;
	margin-right: 25px;
}
.radio-button-row .radio-item:last-child{
	margin-right: 0px;
}
.radio-button-row .radio-item.active{
	background: #17498A;
	border-color: #17498A;

}
.radio-button-row .radio-item.active label{
	color: #fff;
}
.radio-button-row .radio-item input{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
}
.radio-button-row .radio-item label {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #000000;
}
.nonlife-claim{
	margin-top: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 20px;
	color: #000000;
}
.nonlife-claim span{
	background: #2488FF;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	padding: 5px 7px;
}
.nonlife-calculate-amount{
	display: block;
	overflow: hidden;
}
.nonlife-calculate-amount .calculate-item {
	display: flex;
	flex-flow: row wrap;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	align-items: center;
	padding: 0px 20px;
	height: 42px;
	margin-bottom: 15px;
}
.nonlife-calculate-title{
	width: 65%;
}
.nonlife-calculate-title label{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #253254;
	margin-bottom:0px;
}
.nonlife-calculate-input{
	width: 35%;
}
.nonlife-calculate-input input{
	border: 0px;
	text-align: right;
	width: 100%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #253254;;
}
.calculate-item:first-child .nonlife-calculate-input input{
	opacity: 0.5;
}
.nonlife-calculate-input input:focus{
	border: 0px;
	 outline: none;
}
.nonlife-checkbox-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nonlife-checkbox-list li span {
	margin-right: 10px;
}
.nonlife-checkbox-list li span input {
	width: 18px;
	height: 18px;
}
.nonlife-checkbox-list li{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 33px;
	color: #000000;
}
.noofpassanger {
	display: inline-block;
	width: 18px;
	border: 0px;
}
.non-life-group-wrapper .custom-validation-message-error {
	line-height: 18px;
}
/** form css **/


/** responsive **/
	@media screen and (max-width : 768px){
		.nonlife-form-group.voluntary-excess {
	        width: 100%;
	    }
	    .nonlife-calculation-form-wrapper {
			margin-bottom: 40px;
		}
	}
	@media screen and (max-width : 640px){
		.nonlife-form-group:nth-child(7) {
			width: 100%;
		}
		.nonlife-category-listing ul {
			display: flex;
			flex-flow: row wrap;
			row-gap: 30px;
		}
		.nonlife-category-listing ul li {
			width: calc(100% / 3 - 20px);
		}
	}
	@media screen and (max-width : 500px){
		.nonlife-form-group {
			width: 100% !important;
		}
		.nonlife-category-listing ul li {
			width: calc(100% / 2 - 20px);
		}
		.nonlife-insurance-type ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
		.nonlife-insurance-type ul li{
			width: calc(100% / 2 - 5px);
			margin-right:0px ;
		}
	}
/** end of responsive **/



/** nonlife compare screen **/
.nonlife-select-plan {
	text-align: center !important;
}
.nonlife-select-plan {
	text-align: center;
}
.comare-lst p i {
	float: right;
	font-size: 12px;
	font-weight: 300;
}
.comare-lst p i.fa-times{
	color: red;
}
.comare-lst p i.fa-check{
	color:green;
}

.comare-lst div p span{
	color:green;
}


/** end of nonlife compare screen **/
 /** step form css **/
 .non-life-details-wrapper{
 	position: relative;
 	padding-bottom: 100px;
 }
.nonlife-progress-bar-wrapper #non-life-progressbar {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding-left: 0px;
	border-top: 2px solid #ddd;
}
.nonlife-progress-bar-wrapper #non-life-progressbar li {
	width: calc(100% / 4);
	position: relative;
}
.nonlife-progress-bar-wrapper #non-life-progressbar li::after {
	content: '';
	position: absolute;
	width: 100%;
	top: -2px;
	left:-45%;
	height: 2px;
}
.nonlife-progress-bar-wrapper #non-life-progressbar li span{
	margin-top: 10px;
	display:block;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #7E7E7E;
	opacity: 0.7;
}

.nonlife-progress-bar-wrapper #non-life-progressbar li.active::after
{
	background:  #2488FF;

}
.nonlife-progress-bar-wrapper #non-life-progressbar li.current::before{
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	background:#2488FF;
	border-radius:50%;
	top: -8px;
	right:45%;
}

.nonlife-progress-bar-wrapper #non-life-progressbar li.active span{
	color:#2488FF ;
	opacity: 1;
}
.fieldset-wrapper {
	border: 1px solid #dddd;
	margin: 60px 0px;
}
#vehicle-details {
	padding: 30px;
}

.non-life-form-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.non-life-form-row .form-group label{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #253254;
	margin-bottom: 10px;
}
.non-life-form-row .form-group{
	width:calc(100% / 2 - 20px);
	margin-bottom: 20px !important;
}
.non-life-form-row .form-group input,.non-life-form-row .form-group select
{
	background: rgba(239, 241, 247, 0.5);
	border-radius: 4px;
	height: 45px;
	border: 0px;
	box-shadow: none;
	font-size: 14px;
	width: 100%;
}
.non-life-form-row .form-group select{
	color: #000;
	font-size: 14px;
	appearance: none;
	background-image: url('/frontend/img/down-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: 95% 50%;
}
.non-life-form-row .form-group input::placeholder{
	font-size: 14px;
}
.step-action-button {
	position: absolute;
	left: 0;
	bottom:-30px;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.08);
	padding: 20px 0px;
	padding-bottom: 100px;
	text-align: right;
}
.step-action-button button.nonlife-next {
	background: #3D538C;
	border-radius: 4px;
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	border: 0px;
	box-shadow: none;
	padding: 8px 40px;
}
.nonlife-previous {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	background: no-repeat;
	border: 0;
	margin-right: 20px;
	opacity: 0.5;
	border: 1px solid #ddd;
	line-height: 22px;
	padding: 8px 40px;
}
.fieldset-wrapper fieldset {
	display: none;
}
/*.fieldset-wrapper fieldset:first-child{
	display: block;
}*/

 /** end of step form **/
 /* Tab form css */

 .ag-format-container {
	 width: 1142px;
	 margin: 0 auto;
   }
   
   
   img {
	 max-width: 100%;
   }
   
   .ag-tabs-block {
	 padding: 20px 0;
   }
   .ag-tabs_title {
	 display: table;
	 margin: 0 0 20px;
	 font-weight: bold;
	 font-size: 20px;
	 z-index: 2;
	 position: relative;
   }
  
   .ag-tabs_box {
	 margin: 0 8px 10px 0;
	 border: 1px solid #d1d3d4;
	 background-color: #FFF;
   
	 -webkit-box-shadow: 3px 3px 0 0 #fff, 3px 3px 0 1px #d1d3d4, 7px 7px 0 0 #fff, 7px 7px 0 1px #d1d3d4, 16px 16px 15px 0 rgba(6, 32, 55, .15);
	 -moz-box-shadow: 3px 3px 0 0 #fff, 3px 3px 0 1px #d1d3d4, 7px 7px 0 0 #fff, 7px 7px 0 1px #d1d3d4, 16px 16px 15px 0 rgba(6, 32, 55, .15);
	 -o-box-shadow: 3px 3px 0 0 #fff, 3px 3px 0 1px #d1d3d4, 7px 7px 0 0 #fff, 7px 7px 0 1px #d1d3d4, 16px 16px 15px 0 rgba(6, 32, 55, .15);
	 box-shadow: 3px 3px 0 0 #fff, 3px 3px 0 1px #d1d3d4, 7px 7px 0 0 #fff, 7px 7px 0 1px #d1d3d4, 16px 16px 15px 0 rgba(6, 32, 55, .15);
   
	 overflow: hidden;
   
	 z-index: 2;
	 position: relative;
   }
   .ag-tabs_list {
	 float: left;
	 min-width: 150px;
	 margin: 0 10px 0 0;
	 background-color: #f2f2f2;
   
	 font-size: 16px;
   
	 position: relative;
   }
   .ag-tabs_list:before {
	 content: "";
	 display: block;
	 height: 3000%;
	 width: 100%;
	 background: inherit;
   
	 position: absolute;
	 top: 100%;
	 left: 0;
   }
   .ag-tabs_item {
	 padding: 0;
	 margin: 0;
   }
   .ag-tabs_link {
	 line-height: 1.1;
	 display: block;
	 padding: 12px 17px 11px 16px;
   
	 color: #23457f;
   
	 position: relative;
   }
   .ag-tabs_link:hover,
   .ag-tabs_link:focus {
	 background-color: #FFF;
   
	 text-decoration: none;
   }
   .ag-tabs_link:active,
   .js-ag-tabs_item__active .ag-tabs_link {
	 background-color:  #3D538C;;
   
	 color: #000;
   }
   .ag-tabs_link:active:before,
   .js-ag-tabs_item__active a:before,
   .ag-tabs_link:active:after,
   .js-ag-tabs_item__active a:after {
	 content: "";
	 display: block;
	 height: 50%;
	 width: 10px;
   
	 position: absolute;
	 left: 100%;
   }
   .ag-tabs_link:active:before,
   .js-ag-tabs_item__active a:before,
   .ag-tabs_link:active:after,
   .js-ag-tabs_item__active a:after {
	 content: "";
	 display: block;
	 height: 50%;
	 width: 10px;
   
	 position: absolute;
	 left: 100%;
   }
   .ag-tabs_link:active:before,
   .js-ag-tabs_item__active a:before {
	 background-image: -webkit-linear-gradient(to top right,  #3D538C 50%, rgba(0, 0, 0, 0) 50%);
	 background-image: -o-linear-gradient(to top right,  #3D538C 50%, rgba(0, 0, 0, 0) 50%);
	 background-image: linear-gradient(to top right, #3D538C 50%, rgba(0, 0, 0, 0) 50%);
   
	 top: 0;
   }
   .ag-tabs_link:active:after,
   .js-ag-tabs_item__active a:after {
	 background-image: -webkit-linear-gradient(to top left, rgba(0, 0, 0, 0) 50%, #3D538C 50%);
	 background-image: -o-linear-gradient(to top left, rgba(0, 0, 0, 0) 50%, #3D538C 50%);
	 background-image: linear-gradient(to top left, rgba(0, 0, 0, 0) 50%,  #3D538C 50%);
   
	 bottom: 0;
   }
   
   .ag-tab_box {
	 padding: 20px;
   
	 overflow: hidden;
   }
   .ag-tab_pane {
	 display: none;
   }
   .js-ag-tab_pane__active {
	 display: block;
   }
   .ag-tab_img-box {
	 max-width: 300px;
	 width: 100%;
	 margin: 0 auto 20px;
   }
   .ag-tab_name {
	 padding: 0 0 15px;
   
	 text-align: center;
	 font-size: 20px;
   }

   /** nonlife login css **/
   .nonlife-login-wrapper .modal-content{
   		width: 30%;
   }
   .nonlife-login-header{
   	display: flex;
   	align-items: center;
   	width: 100%;
   }
   .modal-header.nonlife-login-header ul {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.modal-header.nonlife-login-header ul li.active {
		background: #3A6DA7;
		font-size: 16px;
	}
	.modal-header.nonlife-login-header ul li a{
		font-family: karla;
		font-size: 16px;
		color: #111;
	}
	.modal-header.nonlife-login-header ul li.active a{
		color: #fff;
	}
	.close.nonlife-login-close {
		margin-left: auto;
	}
	.close.nonlife-login-close span{
		font-size: 32px;
	}
	.form-group.forget-rem {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.forgot-paswd {
		width: 50%;
		display: flex;
		justify-content:right;
	}
	.forgot--password.pt-2.text-center {
		padding-bottom: 20px;
	}
	.nonlife-remember {
		display: flex;
		align-items: center;
	}
	.nonlife-remember input {
		height: auto !important;
		margin-top: 0px;
	}
	.nonlife-remember label {
		margin-bottom: 0px;
		margin-left: 5px;
	}
	.nonlife-login-form button {
		padding: 10px 0px;
	}
	.nonlife-login-form .form-group{
		margin-bottom: 15px !important;
	}
	.nonlife-login-form .form-group input {
		height: 47px;
	}
	.nonlife-login-form button {
		width: 100%;
	}

   /** end of nonlife login css **/
   /** nonlife details form **/
  	.non-life-group-wrapper {
	    display: flex;
	    align-items: center;
	}
	.non-life-group-wrapper label {
	    width: 20%;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 16px;
	    line-height: 19px;
	    display: flex;
	    align-items: center;
	    color: #2A2A2A;
	}
    .non-life-group-wrapper input {
	    border: 1px solid rgba(147, 152, 191, 0.25);
	    height: 40px;
	    box-sizing: 0;
	    box-shadow: none;
	    width: 40%;
	    font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: #484848;
		opacity: 1px !important;
		
	}
	.form-group.non-life-group-wrapper select {
	    width: 40%;
	    height: 40px;
	    font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: #484848;
		opacity: 1px !important;
	}
	.non-life-group-wrapper .custom-upload-file{
		width: 40%;
	}
	.custom-upload-file input{
		display: none;
	}
	.custom-upload-file input + .custom-upload-label{
		width: 100%;
		border: 1px solid rgba(147, 152, 191, 0.25);
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 140%;
		color: #605DEC;
	}
	.custom-upload-label img {
		height: 27px;
		margin-right: 8px;
	}
	.non-life-form-row.nonlife-date-wrapper {
	    width: 40%;
	}
	.non-life-group-wrapper {
	    margin-bottom: 15px !important;
	}
	.nonlife-date-wrapper .form-group input {
	    background: none;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 16px;
	    line-height: 26px;
	    display: flex;
	    align-items: center;
	    color: #484848;
	    opacity: 1;
	    border: 1px solid rgba(147, 152, 191, 0.25);
	    cursor: pointer;
	}	
	.nonlife-date-wrapper .form-group{
		position: relative;
	}
	.nonlife-date-wrapper .form-group:before {
	    content: '';
	    position: absolute;
	    right: 0;
	    background: url('/frontend/img/nonlife/calendar.svg');
	    width: 25px;
	    height: 100%;
	    background-repeat: no-repeat;
	    display: flex;
	    align-items: center;
	    top: 10px;
	    z-index: -1;

	}
	.custom-validation-message-error {
		margin-bottom: 0px !important;
		font-size: 16px;
		margin-left: 10px;
	}
	.non-life-group-wrapper .nonlife-date-wrapper .form-group{
		margin-bottom: 0px !important;
	}
	.non-life-group-wrapper .nonlife-date-wrapper .form-group input{
		height: 40px;
	}
	.image-note {
		font-size: 14px;
		color: #000000;
		opacity: 0.5;
	}
   /** end of nonlife details form **/
   /** kyc form **/
	.kyc-form-wrapper {
		display: flex;
		position: relative;
	}
	
	.kyc-form-category {
		width: 15%;
		height: 100%;
	}
	.kyc-form-details {
		width: 85%;
		padding: 40px 30px;
		border-left: 1px solid #dddd;
		/*height: 700px;*/
		overflow-y: auto;
		/*position: relative;
		left:15%;*/
	}
	.kyc-cat-list li a {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 40px;
		display: flex;
		align-items: center;
		color: #7C7C7C;
		padding: 0px 15px;
	}
	.kyc-cat-list li.active {
		background: #FAFAFA;
		box-shadow: inset -4px 0px 0px rgba(80, 125, 177, 0.5);
	}
	.kyc-cat-list li.active a{
		color: #3D538C;
	}
	.kyc-form-category .kyc-cat-list {
		padding: 0px;
		list-style: none;
		margin-bottom: 0px;
	}
	.kyc-cat-title {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		display: flex;
		align-items: center;
		color: #000000;
		margin: 0px;
		line-height: 45px;
		border-bottom: 1px solid #ddd;
		padding: 0px 15px;
	}
	.kyc-form-item{
		display: none;
	}
	.kyc-form-item.active{
		display: block;
	}
	.review-confirm-wrapper {
		padding: 30px 20px;
	}
	.accordian-header-wrapper{
		margin-bottom: 0px;
	}
	.accordian-item {
	    background: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.08);
	    margin-bottom: 30px;
	}
	.accordian-data-wrapper {
	    display: none;
	}
	.accordian-header-wrapper {
	    display: flex;
	    align-items: center;
	    background: #F5F5F5;
	    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
	    padding: 15px 30px;

	}

	.accordian-header-wrapper button {
	    margin-left: auto;
	    border: 0;
	    opacity: 0.6;
	}
	.accordian-header-wrapper h1 {
	    padding: 0;
	    margin: 0px;
	    font-size: 16px;
	    font-weight: 600;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: 500;
	    font-size: 14px;
	    line-height: 22px;
	    display: flex;
	    align-items: center;
	    color: #212121;
	}
	.accordian-button {
		background: none;
	}
	.accordian-button img{
		transition: 0.8s;
	}
	.accordian-button.active img {
		transform: rotate(180deg);
	}
	.review-item {
	    padding: 15px 20px;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    display: flex;
	    align-items: center;
	}
	.review-item h2 {
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 18px;
	    color: rgba(33, 33, 33, 0.8);
	    width: 25%;
	    margin: 0px;
	}
	.review-item:last-child{
		border-bottom: 0px;
	}
	.review-item p {
	    margin: 0px;
	    font-family: Roboto;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 16px;
	    line-height: 22px;
	    display: flex;
	    align-items: center;
	    color: #212121;
	}
   /** end if kyc form **/
   /** payment **/
   .payment-option-wrapper {
		background: linear-gradient(0deg, #FAFAFA, #FAFAFA), #F5F5F5;
	}
	.payment-heading {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.payment-heading h1 {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: #141B2B;
		padding: 13px 30px;
		margin: 0px;
	}
	.payment-button-wrapper {
		padding: 20px 30px;
		display: flex;
		flex-flow: row wrap;
	}
	.payment-item {
		width: calc(100% / 4 - 10px);
		background: #fff;
		border: 1px solid rgba(0,0,0,0.1);
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.payment-item button {
		background: none;
		box-shadow: none;
		border:0;
		width: 100%;
		height: 100%;
	}
	.proceed-payment {
		width: 50%;
		padding: 20px 30px;
		display: none;
	}
	.proceed-payment-wrapper {
		background: #fff;
		padding: 20px 30px;
		border: 1px solid rgba(0,0,0,0.1);
	}
	.merchantDetails p {
		display: flex;
		line-height: 50px;
		border: 1px solid rgba(0,0,0,0.1);
		font-size: 15px;
	}
	.merchantDetails p strong {
		width: 45%;
		background: #fafafa;
		padding-left: 10px;
	}
	.merchantDetails p span {
		width: 55%;
		padding-left: 7px;
	}

	.proceed-pay-btn {
		width: 100%;
		border: 0;
		background: #2488FF;
		color: #fff;
		font-size: 18px;
		padding: 9px 0px;
		border-radius: 5px;
	}
	.preview-image-wrapper img {
		width: 150px;
	}
	.custom-file-image img {
		width: 175px;
	}
	.dismiss-preview {
		background: none;
		border: 0;
		height: auto;
		font-size: 19px;
	}
   /** end of payment**/
   	.invoice-bg {
		width: 50%;
		margin: auto;
		background: rgba(245, 247, 249, 0.8);
		border: 0.5px solid rgba(250, 250, 250, 0.8);
		box-sizing: border-box;
		border-radius: 8px;
		padding: 30px;
	}
	.invoice-details-block {
		border: 0.5px solid rgba(61, 83, 140, 0.5);
		background: #fff;

	}
	.invoice-details-block ul{
		padding: 0px;
	}
	.invoice-details-block ul li{
		list-style: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		line-height: 40px;
		padding: 0px 25px;
		display: flex;
		align-items: center;
	}
	.invoice-details-block ul li:last-child{
		border: 0px;
	}
	.invoice-details ul li strong {
		width: 35%;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		color: #212121;
	}
	.invoice-details ul li span {
		margin-left: 10px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		color: #3987FB;
	}
	.invoice-header {
		display: flex;
		align-items: center;
		line-height: 85px;
		padding: 0px 25px;
	}
	.invoice-header h1{
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 32px;
		color: #3D538C;
		margin: 0px;
	}
	.invoice-header form {
		margin-left: auto;
	}
	.invoice-header button {
		color: #3D538C;
		background: none !important;
		border: 1px solid #3D538C;
		padding: 6px 25px;

	}
	.invoice-header button:hover{
		background:none;
		color:#3D538C;
	}
	
	.nonlife-login-wrapper{
		background: rgba(0,0,0,0.7);
	}
	/** new non life review  **/
	.review-payment-block-wrapper {
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	    padding: 0px 20px;
	    margin-bottom: 30px;
	    margin-top: 30px;
	}
	.review-block{
		width: 48%;
	}
	.review-block .review-item-wrap{
		padding: 15px 20px;
	}
	.review-title{
		border-bottom: 1px solid #ddd;
	}
	.review-title h1 {
	    margin: 0px;
	    font-size: 18px;
	    color: #3D538C;
	    margin-bottom: 10px;
	}
	.review-item-wrap .review-item-details {
	    padding: 20px 0px;
	    display:grid;
	    grid-template-columns: repeat(2, 1fr);
	    grid-column-gap:20px;
	    grid-row-gap:15px;
	}
	.review-details-wrapper strong {
	    font-size: 15px;
	    font-weight: 800;
	    color: #111;
	}
	.review-details-wrapper p {
	    font-size: 14px;
	    margin: 0;
	    color: rgba(33, 33, 33, 0.8);
	    margin-top: 2px;
	    line-height: 18px;
	}
	.review-block .review-block-bg{
		background: #fff;
		box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
		height: 100%;
	}
	.payment-block{
		width: 48%;
	}
	.payment-block-bg {
	    background: #fff;
	    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
	    height: 100%;
	    padding-bottom: 20px;
	}
	.payment-title{
		 background: #3D538C;
	}
	.payment-title h1 {
	    text-align: center;
	    background: #3D538C;
	    font-size: 16px;
	    color: #fff;
	    font-weight: 400;
	    margin: 0;
	    position: relative;
	    padding: 10px 0px;
	    left: -16px;
	}
	.payment-title h1::after{
		content: "";
		position: absolute;
		bottom: -15px;
		left: -15px;
		border: 15px solid;
		  border-top-color: currentcolor;
		  border-right-color: currentcolor;
		  border-bottom-color: currentcolor;
		  border-left-color: currentcolor;
		border-color: transparent #3D538C transparent transparent;
	}
	.payment-info-wrap {
	    margin-top: 20px;
	    padding: 0px 20px;
	}
	.payment-info-wrap .payment-premium-info{
		box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
	    padding: 10px 15px;
	}

	.payment-info-wrap .payment-premium-info .payment-premium-ul{
	    background: #fff;
	   	list-style: none;
	   	padding: 0;
	   	margin: 0px;

	}
	.payment-premium-ul li {
	    display: flex;
	    justify-content: space-between;
	    line-height: 35px;
	}
	.payment-premium-ul li strong{
		font-size:14px;
	}
	.total-need-pay {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    border-bottom: 1px solid #ddd;
	}
	.total-need-pay h2 {
	    font-size: 18px;
	    margin: 0;
	    color: #111;
	}
	.total-need-pay p {
	    margin: 0;
	    font-size: 24px;
	    color: #3D538C;
	}
	.pay-button-wrapper {
	    margin: 15px 20px;
	}
	.pay-button {
	    width: 100%;
	    border: 0px;
	    background: #3D538C;
	    color: #fff;
	    font-size: 19px;
	    border-radius: 4px;
	    padding: 9px 0px;
	}
	.payment-term-condition-wrapper {
	    display: flex;
	    align-items: center;
	}
	.payment-term-condition-wrapper input {
	    margin: 0;
	    margin-right: 10px;
	}
	
	.payment-term-condition-wrapper label {
	    font-size: 13px;
	    margin: 0;
	    font-weight: 400;
	}
	.payment-term-condition-wrapper {
	    margin-top: 15px;
	}
	
	.payment-method-wrap {
	    margin-top: 20px;
	    padding: 0px 20px;
	}
	.payment-method-info {
	    background: #feecc8;
	    padding: 15px;
	}
	.payment-method-title{
		margin-bottom: 15px;
	}
	.payment-method-title h2{
		margin: 0;
	    font-size: 18px;
	    color: #111;
	}
	.payment-method-list {
	    list-style: none;
	    padding: 0;
	    display: flex;
	    align-items: center;
	}
	.payment-method-list li {
	    display: flex;
	    align-items: center;
	}
	.payment-method-list li input {
    	margin: 0;
    	display: none;
	}
	.payment-method-list li label {
	    margin: 0;
	    margin-left: 5px;
	    font-size: 14px;
	    font-weight: 600;
	}
	/** end of non life review**/
	.astricshow {
	margin-left: 5px;
	color: red;
}
.nonlife-progress-bar-wrapper.active {
    position: fixed;
    width: 100%;
    top: 68px;
    z-index: 99;
    background: #fff;
}

.kyc-next-button {
    display: flex;
    justify-content: left;
    column-gap: 10px;
}
.kyc-next-button button {
    height: 40px;
    width: 100px;
    border: 0;
    color: #3D538C;
    background: none;
    border: 1px solid #3D538C;
    font-size: 16px;
    margin-top: 20px;
}

.kyc-cat-list.fixed {
  position: fixed;
  top: 0;
}


/** select 2 option **/
.select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 50px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 40px;
}
.select2-container .select2-selection--single {
	height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border: 0px;
	left: 0%;
	top: 33%;
	width: 20px;
	background-image: url('/frontend/img/down-arrow.svg');
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: 95% 50%;
	height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
	font-size: 16px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 20px !important;
}

.select2-container--default .select2-selection--single.nonlife-type-container {
	background-color: rgba(239, 241, 247, 0.5) !important;
	border: 0px !important;
}
.nonlife-details-container{
	border: 1px solid rgba(147, 152, 191, 0.25) !important;
}
.custom-form-control::placeholder {
	color: #999 !important;
	opacity: 1;
}
.select2-results__options li {
	font-size: 16px;
	color: #333;
}
.non-life-form-row.nonlife-date-wrapper .form-group:nth-child(2)::before {
	display: none;
}
.form-text.text-muted {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
/** end of select 2 option **/
.preview-image-wrapper {
	margin-left: 15px;
}

.red-text {
    font-size: 14px;
    margin-left: 5px;
    color: red;
}
/* .pay-list input[type="checkbox"][id^="imepay"] {
  display: none;
} */

.pay-list .paylabel {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.pay-list .paylabel:before {
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  background: grey;
  transform: scale(1);
}

.pay-list .paylabel img {
  height:50px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .paylabel {
  border-color: #ddd;
}

:checked +  .paylabel:before {
  content: "✓";
  
}

:checked +  .paylabel img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
	@media only screen and (max-width: 2000px){
		.nonlife-login-wrapper .modal-content {
		    width: 25%;
		}
	}
   @media only screen and (max-width: 1400px){
		.non-life-group-wrapper label {
			width: 25%;
		}
		.non-life-group-wrapper input {
			width: 50%;
		}
		.form-group.non-life-group-wrapper select {
			width: 50%;
		}
		.select2 {
			width: 50% !important;
		}
		.non-life-form-row.nonlife-date-wrapper {
			width: 50%;
		}
		.non-life-group-wrapper .custom-upload-file {
			width: 50%;
		}
		.kyc-form-category {
			width: 20%;
		}
		.proceed-payment {
			width: 80%;
		}
		.nonlife-login-wrapper .modal-content {
		    width: 25%;
		}
   }
   @media only screen and (max-width: 1250px){
		.non-life-group-wrapper label {
			width: 30%;
		}
		.non-life-group-wrapper input {
			width: 70%;
		}
		.form-group.non-life-group-wrapper select {
			width: 70%;
		}
		.select2 {
			width: 70% !important;
		}
		.non-life-form-row.nonlife-date-wrapper {
			width: 70%;
		}
		.non-life-group-wrapper .custom-upload-file {
			width: 70%;
		}
		.kyc-form-category {
			width: 25%;
		}
   }
   @media only screen and (max-width:  1024px){
  	.nonlife-login-wrapper .modal-content {
	    width: 45%;
	}
   }
   @media only screen and (max-width: 767px) {
	   	.proceed-payment {
			width: 100%;
		}
		.accordian-item {
			margin-bottom: 15px;
		}
		.ag-format-container {
		   width: 96%;
		}
		.nonlife-progress-bar-wrapper #non-life-progressbar li span {
			font-size: 14px;
		}
		.non-life-group-wrapper label {
			font-size: 14px;
		}
		.custom-upload-file input + .custom-upload-label {
			font-size: 14px;
		}
		.custom-upload-label img {
			height: 20px;
		}
		.non-life-details-wrapper {
			padding-bottom: 50px;
		}
		.fieldset-wrapper {
			margin-top: 10px;
		}
		.proceed-payment-wrapper {
			width: 100%;
		}
   		.step-action-button {
			bottom: 0px;
			padding-bottom: 20px;
		}

		.nonlife-login-wrapper .modal-content {
		    width: 55%;
		}
   }
   @media only screen and (max-width:  640px){
   		.kyc-form-wrapper {
			flex-flow: row wrap;
		}
		.kyc-form-category {
			width: 100%;
		}
		.kyc-form-category {
			width: 100%;
			min-height: auto;
			border: 0px;
		}
		.kyc-form-details {
			width: 100%;
		}
		.non-life-form-row .form-group {
			width: calc(100% / 2 - 5px);
		}
		.kyc-form-category .kyc-cat-list {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}
		.kyc-cat-list li {
			width: calc(100% / 3);
			border-bottom: 1px solid rgba(0,0,0,0.1);
			border-right: 1px solid rgba(0,0,0,0.1);
			height: 40px;
			display: flex;
			justify-content: center;
		}
		.kyc-cat-list li a{
			line-height: 18px;
			padding: 0px 5px;
		}
		.kyc-cat-list li:last-child {
			width: calc(100% / 3);
			border-right: 0px;
		}
		.payment-item {
			width: calc(100% / 2 - 10px);
		}
		.nonlife-login-wrapper .modal-content {
		    width: 75%;
		}
   }
   @media only screen and (max-width: 630px) {
   		.non-life-group-wrapper {
			display: flex;
			flex-flow: row wrap;
		}
		.non-life-group-wrapper label {
			margin-bottom: 15px;
			width: 100%;
		}
		.non-life-group-wrapper input {
			width: 100%;
		}
		.form-group.non-life-group-wrapper select {
			width: 100%;
		}
		.select2 {
			width:100% !important;
		}
		.non-life-form-row.nonlife-date-wrapper {
			width: 100%;
		}
		.non-life-group-wrapper .custom-upload-file {
			width: 100%;
		}
		.custom-upload-label {
			margin-bottom: 0px !important;
		}
		#vehicle-details {
			padding: 15px;
		}
		.kyc-form-details {
			padding: 20px 15px;
		}
		.nonlife-progress-bar-wrapper #non-life-progressbar li span {
			font-size: 13px;
			line-height: 15px;
		}
		.proceed-payment {
			padding: 15px;
		}
		.payment-heading h1 {
			font-size: 16px;
		}
		.merchantDetails p {
			font-size: 13px;
		}
		.proceed-payment-wrapper {
			padding: 11px 11px;
		}
		.proceed-pay-btn {
			font-size: 16px;
		}
		.merchantDetails p strong {
			line-height: 18px;
			display: flex;
			align-items: center;
		}
		.payment-button-wrapper {
			padding: 15px 15px;
		}
		.payment-heading h1 {
			padding-left: 15px;
		}
		.review-confirm-wrapper {
			padding: 15px 15px;
		}
		#vehicle-details {
			padding: 15px;
		}
	


   }

   @media only screen and (max-width: 500px){
		.non-life-form-row .form-group {
			width: 100%;
		}
		.non-life-form-row.nonlife-date-wrapper {
			row-gap: 15px;
		}
		.proceed-payment-bg {
			padding: 15px 8px;
		}
		.nonlife-login-wrapper .modal-content {
		    width: 95%;
		}


   }
   
   @media (min-width: 768px) and (max-width: 979px) {
	 .ag-format-container {
	   width: 750px;
	 }
   
   }
   
   @media (min-width: 980px) and (max-width: 1161px) {
	 .ag-format-container {
	   width: 960px;
	 }
   
   }


.invoice-wrapper {
	padding: 30px;
}
.finished-button-wrapper a {
	width: 100%;
	background: #3d538c;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 18px;
	padding: 10px 0px;
}
   /* //Frontend compare screen relaod */
 .loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }
    /* // End Frontend compare screen relaod
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99}

#loading-image {position: absolute;top: 40%;left: 45%;z-index: 100}  */


/*dropdown frontend css */
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background: white;
    padding: initial;
}
select#dropDownId {
    appearance: none;
    border: none;
	height: 26px;
	left:0px;
}
select#vehicleId {
    appearance: none;
    border: none;
	height: 26px;
	
}

/* blog part css */
.single-blog-wapper{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin:80px 0px;
}
.single-blog{
	width: 70%;
}
.blog-side-bar{
	width: 27%;
}
.single-image img{
	width: 100%;
}
.single-blog-content{
	text-align: center;
}
.single-blog-heading{
	font-style: oblique;
}
.single-blog-info-detail{
	font-size: 20px;
	text-align: center;
}
.related-field-title{
	text-align: center;
}