    @media only screen and (min-width: 1500px) and (max-width: 1920px) {
        .container{
            width: 1350px;
        }
        .col-sm-2.col-xs-12.resp-width-wrk::after {
            right: calc(100% - 120% + 55px);
        }
    }
    @media only screen and (max-width: 1500px){
        .subscription-heading h1 {
            font-size: 24px;
        }
        .suscription-price-wrapper .suscription-price {
            font-size: 40px;
        }
    }
    /*talk to expert*/
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 350px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.right .modal-content {
        height: 100%;
    }

    #expertTalk .modal-header {
        border: none;
        padding: 15px 30px;
    }

    .expert-talk input {
        background: #FFFFFF;
        border: 0.5px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 20px 10px;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }
    /*how much*/
    .how-much {
        background: #F5F5F5;
        padding: 80px 0;
        margin-top: 50px;
    }
    .how-much .row {
        margin: 0px;
    }

    .how-much-left {
        padding-right: 0;
    }

    .how-much-left img {
        max-width: 100%;
        float: right;
    }

    .how-much-right {
        background: #ffff;
        padding: 55px 100px;
    }

    .how-much-right h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        color: #000000;
    }

    .how-much-right p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }

    .how-much-right a {
        background: #3D538C;
        border-radius: 2px;
        padding: 10px 50px;
        margin-top: 10px;
        font-size: 16px;
    }

    img.responsive-only {
        display: none;
    }

    /*Calculate bar*/

    .calculate-now {
        padding: 60px 0;
        margin-bottom: 80px;
    }

    .calculate-bar {
        background: #3D538C;
        padding: 5px 20px;
    }

    .calculate-bar h4 {
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
        color: #FFFFFF;
        
    }

    h4.text-second {
        color: #ffcb2f;
    }

    a.calc-right-button {
        padding: 15px 30px;
        background: #ffff;
        line-height: 75px;
        text-decoration: none;
        font-weight: 600;
        color: #3D538C;
    }


    .slick-dots li button:before {
        font-size: 12px !important;
        color: rgba(57, 135, 251, 0.6) !important;
    }

    .slick-dots li.slick-active button:before {
        color: #3987FB !important;
    }

    .menu-icn:before {
        display: none;
    }

    .text-small {
        font-size: 10px;
    }

    /*float buttons*/
    .side-fixed-nav {
        width: 185px;
        position: fixed;
        right: 0;
        top: 40%;
        padding: 0px;
        transform: translate(143px,0);
        z-index: 99;
    }
    .side-fixed-nav li {
        list-style: none;
        background: #fff;
        border-radius: 3px;
        line-height: 40px;
        position: relative;
        transition: 0.8s;
        box-shadow: 0px 0px 2px #ddd;
    }
    .side-fixed-nav li:hover{
        transform: translate(-143px,0);
    }
    .side-fixed-nav li:hover .side-fixed-img{
        background: #A13737;
        border-radius:3px;
    }
    .side-fixed-nav li:hover .side-fixed-img img{
        filter: brightness(0) invert(1);
    }
    .side-fixed-nav li a {
        text-decoration: none;
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .side-fixed-nav li a span{
        display: inline-block;
    }
    .side-fixed-nav .side-fixed-text {
        flex-basis: 80%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #A13737;
        padding-left: 15px;
    }
    .side-fixed-text i {
        float: right;
        padding-right: 30px;
        line-height: 40px;
        color: #ccc;
    }
    .side-fixed-nav li a .side-fixed-img {
        padding: 4px 10px;
        border-radius: 3px;
    }
    .side-fixed-nav li:first-child .side-fixed-img{
        background:#A13737;
        line-height: 40px;
    }

    h4#talkToExpert {
        color: #3A6DA7;
        text-transform: capitalize;
    }

    form.expert-talk button {
        background: #3D538C;
        border-radius: 2px;
        padding: 10px 0px;
        width: 100%;
        text-transform: capitalize;
        margin-top: 20px;
        border: 0px;
        line-height:28px;
        font-size: 16px;
        font-weight: 600;
    }
    #CalculateBox button.btn-primary {
        width: 100%;
        background: #3D538C;
        line-height: 35px;
        font-size: 16px;
        font-weight: 600;
    }

    .my-float {
        font-size: 28px;
    }

    .my-float-btn {
        font-size: 24px;
    }

    /* menu Css */

    .dropdown-menu > li > a {
        padding: 10px;
    }

    .logout-btn {
        background: #56DB97;
        padding: 4px;
        color: #ffff;
    }

    /* compare Css */
    .comp-color {
        background: #3D538C;
    }

    .container.comp-color {
        padding-top: 30px;
    }

    .compare-left-img img {
        max-width: 100%;
    }
    .compare-left-img img:hover{
       animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
       transform: translate3d(0, 0, 0);
       perspective: 1000px;
    }

    .compare-right h3 {
        font-weight: 500;
        font-size: 36px;
        line-height: 61px;
        color: #FFFFFF;
        font-weight: 800;
        margin-top: 0px;
    }

    .compare-right p {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .compare-btn {
        line-height: 22px;
        text-align: center;
        color: #3D538C;
        text-decoration: none !important;
        cursor: pointer;
        background: #ffffff;
        padding: 8px 25px;
        text-decoration: none;
        background: #FFFFFF;
        border-radius: 4px;
        margin-top: 20px;
    }

    .fa:before {
        font-family: 'FontAwesome';
    }

    /*Calculator*/
    .responsive-hide {
        display: block;
    }

    .responsive-show {
        display: none;
    }

    /* Responsive Css */

    @media only screen and (max-width: 1232px) {
        .subscription-heading h1 {
            font-size: 18px;
        }
        .suscription-price-wrapper .suscription-price {
            font-size: 32px;
        }
        .subscription-pay-button-wrapper button {
            font-size: 20px;
        }
        .video-pop-wrapper {
            width: 70%;
        }
        /*Calculator*/
        .responsive-full-width-box-responsive {
            width: 100% !important;
        }

        .responsive-hide {
            display: none;
        }

        .responsive-show {
            display: block;
        }

        /*menu*/
        .top-media-bar {
            height: 45px;
        }

        .media-icons li {
            padding: 14px;
        }

        .make-gap {
            padding: 0px 30px;
        }

        .header-login-btn {
            padding: 8px 10px !important;
            margin-top: 0px;
        }

        /* top slider */
        .top-left-text {
            width: 100%;
        }

        .top-right-plans {
            width: 100%;
        }

        /*why us*/
        .why-us {
            padding: 50px 0;
        }

        .top-left-text .title {
            width: 60%;
        }

        .top-left-text p {
            width: 50%;
        }

        .calculate-now {
            display: none;
        }

        .how-much-left {
            width: 100%;
            padding: 0;
            text-align: center;
        }

        .how-much-left img {
            float: none;
            display: none;
        }

        .responsive-only {
            display: block !important;
        }

        .how-much-right {
            width: 100%;
        }

        .container.comp-color {
            padding: 0px;
        }

        .col-sm-5.compare-right.text-center {
            width: 51%;
        }
        .col-sm-6.top-right-plans {
            display: none;
        }
     
    }

    @media only screen and (min-width: 767px) and (max-width: 990px) {

        #languageModal .modal-dialog {
            top: 70%;
        }

        .language-text-left {
            width: 80%;
        }

        .language-img {
            width: 60%;
            float: right;
        }
         .video-pop-wrapper {
            width: 70%;
        }
    }
    @media only screen and (max-width: 769px) {
        .video-pop-wrapper {
            width: 90%;
        }
        .register-form {
            width: 100%;
        }

        .navbar-menus {
            padding: 0;
        }

        .col-sm-4.compare-left-img {
            display: none;
        }

        .col-sm-5.compare-right.text-center {
            width: 100%;
        }

        .container.comp-color {
            padding-bottom: 40px;
        }

        #myBtn {
            bottom: 105px;
            right: 37px;
            font-size: 24px;
            height: 40px;
            width: 40px;
        }

        .social-top-icn {
            padding: 14px 3px !important;
        }

        /*how much*/
        .how-much-left {
            display: none;
        }

        .how-much-right {
            background: url(/frontend/img/home/how-much-half.png);
            background-size: cover !important;
            padding: 0;
        }

        .background-dull {
            background: rgba(0, 0, 0, 0.6);
            padding: 50px 40px;
        }

        .how-much-right h2, .how-much-right p {
            color: #ffff;
            opacity: 1;
        }

        .how-much-right h2 {
            width: 50%;
            font-size: 28px;
        }

        /*top slider*/
        .top-left-text .title {
            width: 90%;
        }

        .resp-width-wrk {
            width: 100%;
            margin-bottom: 50px;
        }

        .working-bar img {
            padding: 10px 0;
        }

        .how-works {
            border: none;
        }

        .why-us-left-banner {
            padding: 50px;
            width: 100%;
        }

        .why-us-right-banner {
            width: 100%;
        }

        .why-us-card-body {
            width: 100%;
            margin-top: 0;

        }

        .why-box-right img {
            text-align: center;
            margin: 0 auto;
        }

        .slick-dots {
            position: inherit !important;
        }

        .whyItems .slick-dots {
            bottom: -50px;
        }

        .why-different {
            padding: 50px 0px;
        }

        .why-diff-left {
            padding: 0 5px;
            background: transparent;
        }

        .why-different-div, .why-different-items {
            width: 100%;
            margin: 5px 0;
        }

        .why-diff-left i {
            display: none;
        }

        .diff-top br {
            display: none;
        }

        .footer-logo-part {
            width: 100%;
            text-align: center;
        }

        .footer .base-img {
            max-width: 30%;
        }

        .base-logo-text {
            text-align: justify;
        }

        .footer-titile {
            padding: 20px;
            width: 50%;
        }

        .copyright-text .col-sm-3:first-child {
            margin-bottom: 50px;
            text-align: center;
        }

        .mobile-display {
            display: block;
            width: 100%;
        }

        .mobile-none {
            display: none;
        }

        .footer-item p {
            text-align: right;
        }

        .footer-item {
            width: 50%;
        }
        .video-pop-wrapper iframe {
            height: 300px;
        }

    }

    @media only screen and (max-width: 430px) {

        /* compare calculator */
        .compare-right h3 {
            font-size: 24px;
        }

        .compare-right p {
            font-size: 14px;
        }

        .age-title {
            display: none;
        }

        .calendardate select, .calendardate input {
            margin: 0px !important;
            width: 32%;
            display: inline;
            padding: 5px;
        }

        /* language select */
        .modal-size-control {
            max-width: 90% !important;
            height: 80%;
        }

        .language-modal-title {
            transform: none;
            font-size: 32px;
        }

        .language-text-left {
            padding: 30px;
        }

        .btn-lang-select {
            margin: 30px 5px;
        }

        .language-text-left h2 {
            font-size: 32px;
        }

        .language-text-left h3 {
            font-size: 26px;
        }

        .top-media-bar {
            display: none !important;
        }

        .make-gap {
            padding-right: 15px;
            padding-left: 15px;
        }

        .navbar-default .navbar-toggle {
            border: none;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #000000;
            border-radius: 30px;
            width: 30px;
            height: 3px;
        }

        .navbar-toggle {
            margin-top: 24px;
        }

        /*top section*/
        .top-left-text .title {
            width: 100%;
            font-size: 38px;
            line-height: 60px;
        }

        .top-left-text {
            padding: 5px 20px;
        }

        .plan-list-right {
            display: none;
        }

        .plan-img-side h2 {
            font-size: 24px;
            line-height: 41px;
        }

        .plan-img {
            margin-top: 20px;
        }

        /*how much*/
        .how-much-right h2 {
            width: 100%;
        }

        .background-dull {
            text-align: left;
            padding: 40px;
            margin: 0 auto;
        }

        /*why us*/
        .card-body.make-space {
            margin-top: 0;
            text-align: center;
        }

        .why-us-left-banner {
            padding: 50px;
            text-align: center;
        }

        .why-us-left-banner button {
            margin-top: 50px;
        }

        .why-us {
            margin-bottom: 10px;
        }

        .diff-top br {
            display: block;
        }

        .why-different {
            padding: 50px 0;
        }

        .why-diff-left {
            padding: 0;
        }

        .why-diff-left i {
            display: none;
        }

        .whyItems .slick-slide img {
            margin: 0 auto;
        }

        .whyItems .slick-dots {
            bottom: 30px;
        }

        .why-box-right {
            margin: 100px 0;
        }

        .why-us {
            padding: 0;
        }

        /*how it works*/
        .how-works {
            display: none;
        }

        

        .working-bar .col-sm-2 {
            margin-bottom: 50px;
        }

        .working-bar img {
            padding: 0;
        }

        .training-title h2 {
            font-weight: bold;
        }

        .training-title {
            padding: 20px 0;
        }

        /*footer*/
        .footer .col-sm-4:first-child {
            text-align: center;
        }

        .footer img.base-img {
            padding: 40px 0;
        }

        .row.copyright-text {
            padding: 30px 0px;
            text-align: center;
        }

        .copyright-text .col-sm-3:first-child {
            margin-bottom: 50px;
        }

        .footer-titile {
            padding: 20px 10px;
        }

        .footer-second-item {
            width: 100%;
        }

        .footer-item {
            width: 100%;
        }

        .footer-item p {
            text-align: center;
        }
    }

    @media only screen and (max-width: 380px) {

        .top-left-text .title {
            font-size: 34px;
            text-align: center;
        }

        .footer-titile {
            width: 100%;
        }

        .top-left-text {
            padding: 10px;
        }

        .language-text-left {
            padding: 10px;
        }

        .language-modal-title {
            font-size: 28px;
        }

        .language-text-left h2 {
            font-size: 28px;
        }

        .language-text-left h3 {
            font-size: 24px;
        }
    }


    /** responsive start from here **/
    @media screen and (max-width: 1300px){
        .nav > li > a {
            padding: 10px 7px;
        }
        .right-banner-text h1 {
            font-size: 32px;
            line-height: 40px;
        }
        .banner-content-wrapper h1 {
            font-size: 22px;
        }
        .banner-content-wrapper p {
            font-size: 26px;
            line-height: 28px;
        }

    }
    @media screen and (max-width: 1200px){
        .date-form-wrapper.date-format {
            flex-basis: 100% !important;
            margin-top: 25px;
        }
        .right-banner-wrapper {
            width: 45%;
        }
        .left-banner-wrapper {
            width: 45%;
        }
    }
    @media screen and (max-width: 1233px){
        .date-form-wrapper.date-format {
            flex-basis: 100% !important;
            margin-top: 25px;
        }
        .main-blog-content {
       
        padding: 40px 30px;
    }
    .main-blog-content h1 {
        font-size: 27px;
        line-height: 38px;
    }
    .main-blog-content p {
        font-size: 14px;
        margin-top: 15px;
    }
        .media-icons {
         line-height: 16px;
     }
     .slider-section {
        padding: 50px 0;
    }
    .slider-section .top-left-text h1 {
        max-width: 600px;
    }
    .slider-section h1 {
        margin-top: 0px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 13px;
    }
    }
    @media screen and (max-width:  1470px){
        .date-form-wrapper.date-format {
            flex-basis: 70%;
        }
        .benefit-lists li {
            font-size: 10px;

        }
        .to-right {
            line-height: 16px;
        }
        .more-product-form-wrapper {
            width: 60%;
        }
    }
    @media screen and (max-width:  1200px){
        #child_container .form-group,#couple_container .form-group {
            flex-basis: 100%;
        }
        .col-sm-2.col-xs-12.resp-width-wrk::after {
            width: 25px;
            height: 25px;
            top: 41px;
            right: -12px;
        }
    }
    @media screen and (max-width: 1133px){
        #compare-result .col-sm-9 {
            width: 100%;
        }
        .mb-filter-close {
            display: block;
            opacity: 0.4;
            cursor: pointer;
        }
        .compare-list-cat {
        display: flex;
    }
    .compare-list-cat p{
        flex: 1;
    }
        .media-icons li {
            padding: 14px 7px;
        }
        .navbar-menus {
            margin-left: 15px;
        }
        .right-banner-img {
            display: none;
        }
        .col-sm-5.col-xs-12.why-different-div {
            width: 100%;
        }
        .col-sm-7.col-xs-12.why-different-items {
            width: 100%;
        }
        .compare-right h3 {
            margin-top: 0;
        }
        .col-sm-7.compare-right.text-center {
            margin-top: -20px;
        }
        .container {
            margin: 0px 20px;
            width: auto;
        }
        .compare-right h3 {
            font-size: 24px;
        }
        .slider-section .container {
            width: 100% !important;
        }
        .sort-box {
        display: none;
    }
           .mb-filter{
            display: block;
            opacity: 0.6;
        }
        .compare-search-sort {
            display:flex;
            align-items: center;
        }
        .left-sort {
            flex: 1;
        }
        .mb-filter {
            display: flex;
            align-items: center;
        }
       
        .compare-calc-lists .col-sm-3 {
            transition: 0.8s;
            position: fixed;
            left:-15px;
            top: 0;
            z-index: 9999;
            width: 40%;
            right: ;
            height: 100%;
            overflow: scroll;
            transform: translateX(-100%);
        }
        .col-sm-3.active {

            transform: translateX(0%);
        }


    }
    @media screen and (min-width: 1121px){
        .dropdown.mob-mnu:hover .dropdown-menu {
            display: block;
        }
        .dropdown.mob-mnu a:hover {
            background: #e7e7e7;
        }


    }
    @media screen and (max-width:  1120px){
        .col-sm-4.col-xs-12.why-different-div {
            padding: 0px !important;
            width: 100%;

        }
         .mobile-filter-button {
            display: block;
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 99;
        }
       .mobile-filter-button button {
            width: 100%;
            background: #fff;
            border-radius: 0px;
            border: 0px;
            font-size: 18px;
            padding: 7px 0px;
        }
        .left-disclamer {
            padding: 0px 15px;
        }
    }
    @media screen and (max-width: 1024px){
        .more-product-form-wrapper {
            width: 98%;
        }
        /**compare result **/
        .pop-calculator-form {
            width: 95%;
        }
        .left-sort {
            font-size: 12px;
        }
        .pay-term-note p {
            font-size: 10px;
        }
        .details-box.line-rht-cmp .details-val2 {
            font-size: 14px;
        }
        .content-compare td .sum-title-val {
            font-size: 14px;
        }
        #pamount {
            font-size: 14px;
        }
        .compare-sorting {
            font-size: 13px;
            padding: 0;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        #compare-result .col-sm-9 {
            width: 100%;
        }
        /**end of compare result **/
        .list-of-insurance-policy {
            column-gap: 18px;
        }
        .list-of-insurance-policy .policy-item {
            width: calc(100% / 5 - 15px);
        }
        .list-of-insurance-policy {
            justify-content: unset;
        }
        .associations {
            margin-bottom: 60px;
        }
        .modal-content {
            width: 50%;
        }

    }
    @media screen and (max-width:  975px){
        .right-banner-wrapper {
            width: 100%;
        }
        .right-banner-text h1 {
            max-width: 70%;
        }
        .left-banner-wrapper {
            display: none;
        }
        .latest-item .latest-shortdesc .desc {
            font-size: 16px;
        }
        .container-fluid {
            padding-right: 25px !important;
            padding-left: 25px !important;
            width: 100% !important;
        }
        .container{
            width: auto !important;
        }
        .date-form-wrapper .date-form-item {
            width: calc(100% / 5 - 20px);
        }
        .checkbox-wrapper .check-item {
            width: calc(100% / 5 - 30px);

        }
        .checkbox-wrapper {
            row-gap: 20px;
            justify-content:unset;
            column-gap: 37px;
        }
        .col-sm-7.compare-right.text-center {
            padding: 30px 0px;
        }
      
        .main-blog-img{
            flex-basis: 100%;
        }
        .main-blog-img img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .main-blog-content {
            flex-basis: 100%;
        }
        .main-blog-content {
            padding: 20px 30px;
        }
        .normal-width {
            width: 80px;
        }
        .dropdown.mob-mnu.plans-cat .menu-icn {
            padding: 10px 12px !important;
        }
        .auth-wrapper {
            margin-left: 12px;
        }
        .nav.navbar-nav.navbar-right.navbar-menus li {
            margin-right: 10px;
        }
        .col-sm-3.footer-titile.footer-second-item {
            width: 50%;
        }
        .col-sm-2.footer-titile.footer-second-item {
            width: 50%;
        }
        .col-sm-3.footer-logo-part {
            width: 50%;
        }
        .col-sm-4.footer-titile.footer-second-item {
            width: 50%;
        }



    }
    @media screen and (max-width: 850px){
        .sum-assured {
            border-right: 0px;
            border-left: 0px;
            height: 70px;
        }
        .number-item p {
            font-size: 45px;
        }
        .number-title h5 {
            font-size: 12px;
        }
        /*.compare-result-table tbody tr td {
            width: calc(100% / 4);
        }*/
        .compare-result-table tbody tr {
            display: flex;
            flex-flow: row wrap;
        }
        .select-plan-box {
            display: flex;
            padding: 0px;
        }
          .select-plan-box a {
            width: 50%;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background:  #FAFAFA;;
            border-radius: 0px;
            color: #EC3E26;
            font-weight: 600;
            font-size:13px;

        }
        .btn.btn-primary.select-plan {
            font-size: 13px;
        }
        .table.compare-result-table tbody tr td {
        width: calc(100% / 4);
    }
    .table.compare-result-table tbody tr td:last-child {
        width: 100% !important;
        border: 0px;
    }
        .mb-benefits {
            display: none;
        }
        .select-plan-box a:hover{
            color: #EC3E26 !important;
            text-decoration: none !important;
        }
        .content-compare {
            box-shadow: none;
        }
        .select-plan-box form {
            width: 50%;
        }
        .select-plan {
            border: 0px;
            border-radius: 0px;
            width: 100%;
        }
        .content-compare td:last-child {
            padding: 0px;
            width: 100%;
            line-height: 0px;
        }
    }
    @media screen and (max-width:  800px){
        .subscription-plan-items {
            grid-template-columns: repeat(2, 1fr);
        }
        .subscription-payment-wrapper .payment-block {
            width: 75%;
        }
        .navbar.navbar-default.main-navigation {
            overflow-y: auto;
        }
        .nav.navbar-nav.navbar-right.navbar-menus {
            display: none;
        }
        .mobile-menu-navbar {
            display: block;
            padding-left: 0px;
            position: fixed;
            width: 100%;
            left: 0;
            background: #fff;
            z-index: 999;
            padding: 10px 30px;
            height: 100%;
            overflow-y: auto;
            height: 100%;
            padding-bottom: 150px;
        }
        .mobile-menu-navbar .mobile-child-drop{
            padding-left: 0px;
            display: none;
        }
        .mobile-menu-navbar li {
            list-style: none;
            transition: 0.8s;
            border-bottom: 1px solid #E0E0E0;
        }
        .mobile-menu-navbar li:last-child{
            border: 0px;
        }
       
        .mobile-drop-icon img {
            filter: brightness(0);
            transition: 0.8s;
        }
       .mobile-menu-item a {
            display: flex;
            align-items: center;
            width: 100%;
            line-height: 17px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
            padding: 15px 0px;
        }
        .mobile-menu-item a .drop-text{
            flex: 1;
        }
         .mobile-register {
            background: #3A6DA7;
            border-radius: 4px;
            color: #fafafa !important;
            text-align: center;
            font-size: 16px !important;
            margin-top: 20px;
            padding: 5px 0px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center !important;
        }
        .mobile-login {
            color: #3A6DA7 !important;
            text-align: center;
            border: 1px solid #3A6DA7;
            padding: 5px 0px;
            font-size: 16px !important;
            border-radius: 4px;
            display: flex;
            justify-content: center !important;


        }
        .mobile-child-drop li a {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #333333;
        }
        .mobile-child-drop li .mobile-child-drop li a{
            font-weight: 500;
            padding-left: 38px !important;

        }
        .plan-icon {
            margin-right: 15px;
        }
        .plan-icon img{
            width: 100%;
        }
        .mobile-menu-item.active .parent-menu-text {
            color: #3A6DA7;
        }
        .mobile-child-drop li.active a .drop-text {
            color: #1273EB;
        }
        .col-sm-3.footer-logo-part p {
            padding: 0;
        }
        .col-sm-2.col-xs-12.resp-width-wrk::before{
            display: none;
        }
        .col-sm-2.col-xs-12.resp-width-wrk::after{
            display: none;
        }
        .list-of-insurance-policy .policy-item {
            padding: 5px 0px;
        }
        .nav.navbar-nav.navbar-menus{
            margin-left: 0px !important;
        }
        .nav.navbar-nav.navbar-right.navbar-menus li {
            background: none !important;
        }
        .parent-dropdown {
            width: 100%;
            width: 100%;
            top: 51px;
        }
       
        .col-sm-4.col-xs-12.why-different-div {
            width: 100%;
        }
        .corporate-plan-form-wrapper,.nonlife-form-wrapper{
            width: 40%;

        }
        .insurance-category-pop-wrapper{
           width: 40%;
        } 
        #navbarMenu {
            display: none !important;
        }
        .navbar-toggle {
            display: block !important;
            padding: 0px !important;
        }
        #navbarMenu.collapse.in{
            display: block !important;
        }
        .navbar-toggle.mainMenu.collapsed {
            background:none ;
        }
        .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
            background:none !important;
        }
        .navbar-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
        }
        .navbar-toggle.collapsed.mainMenu span:first-child{
            transition: 2s;
            display: block;
        }
        .navbar-toggle.mainMenu span:first-child {
            display: none;
        }
        .navbar-toggle.mainMenu.active-nav span:nth-child(2) {
            transform: rotate(132deg);
            position: relative;
            top: 7px;
        }
        .navbar-toggle.mainMenu.active-nav span:nth-child(3) {
            transform: rotate(45deg);
        }
        .main-menu-chevron {
            float: right;
        }
        .navbar-header a {
            flex: 1;
        }
        .nav.navbar-nav.navbar-menus {
            width: 100%;
        }
        .navbar-toggle.mainMenu{
            margin-right: 0px;
            transition: 0.8s;

        }
        .nav.navbar-nav.navbar-menus li {
            display: block;
            width: 100%;
        }
        .menu-icn:before {
            display: inline;
            background: #F7A856;
            border-radius: 2px;
            padding: 10px;
            color: #ffff;
            font-size: 14px;
            font-weight: 100;
            margin-right: 10px;
        }

        .menu-icn-sub:before {
            display: inline;
            background: #FAFAFA;
            border-radius: 2px;
            padding: 10px;
            color: #555555;
            font-size: 14px;
            font-weight: 100;
            margin-right: 10px;
        }
        ul.dropdown-menu li {
            padding: 10px 0;
        }

        .menu-icn .caret {
            float: right;
            margin-right: 40px;
            transform: rotate(
                270deg
                );
        }
        .menu-icn .caret:focus , .menu-icn .caret:hover {
            transform: rotate(
                0deg
                );
        }
        a.dropdown-toggle.fa.fa-heart-o.menu-icn {
            padding: 15px;
        }
        a.dropdown-toggle.fa.fa-heart-o.menu-icn:focus,a.dropdown-toggle.fa.fa-heart-o.menu-icn:hover{
            background: #FFF5EB;
            border-radius: 8px;
        }

        ul.nav.navbar-nav.navbar-right li {
            padding: 10px 0;
            margin: 10px 0;
            background: #FAFAFA;
            border-radius: 8px;
        }
        .dropdown.mob-mnu.plans-cat a .main-menu-chevron {
            line-height: 22px;
        }
        .date-form-wrapper.date-format {
            flex-basis: 100%;
            margin-top: 20px;
        }

        .parent-dropdown {
            left: 0px;
        }
        .parent-dropdown:after{
            top: -8px;
        }
        
        .short-note {
            width: 100%;
            margin: 0px !important;
            margin-top: 25px !important;
            padding: 10px 15px;
        }
        .compare-calc-lists .container-fluid {
            padding: 0 !important;
        }
        .col-sm-4.col-xs-12.why-different-div {
            padding: 0px;
            width: 100%;
        }
        .modal-content {
            width: 75%;
        }
        #verifyCustomer .modal-dialog {
            width: 96%;
        }
       .corporate-plan-form-wrapper,.nonlife-form-wrapper,.insurance-category-pop-wrapper {
        width: 70%;
        }

    .view-plan-wrapper {
        width: 50%;
    }
    .top-img {
        display: none;
    }
    
    .policy-category-title h5 {
        border-radius: 30px;
    }
    .policy-category-title {
        margin-bottom: -35px;
    }
   

    .policy-item .policy-content a p {
        font-size: 12px;
    }

    .col-sm-4.compare-left-img {
        display: block;
    }
    .row.comp-color .col-sm-1 {
        display: none;
    }
    .row.comp-color {
        display: flex;
        flex-direction: row-reverse;
        flex-flow: wrap;
        overflow: hidden;
    }
    .col-sm-4.compare-left-img {
        flex-basis: 100%;
        order: 2;
        text-align: center;
    }
    .compare-left-img img {
        max-width: 65%;
        margin-bottom: -30px;
    }
    .col-sm-7.compare-right.text-center {
        flex-basis: 100%;
    }
    .col-sm-4.footer-titile.footer-second-item {
        width: 100% !important;
    }
    .footer-titile {
     padding: 0px !important;
    }
    .footer {
        padding: 0px 20px;
        padding-top: 60px;
    }
    .footer .base-img {
        max-width: 50% !important;
    }
    .associations .col-sm-3 {
        flex: 0 0 30%;
        margin-left: 5%;
    }
    .associations .col-sm-3:nth-of-type(4n+1) {
        margin-left: 5%;
    }
    .associations .col-sm-3:nth-of-type(3n+1) {
        margin-left: 0px;
    }
        .dropdown.mob-mnu.plans-cat .menu-icn {
            background: none !important;
            color: #616161 !important;
        }
        .insurance-drop {
            float:right ;
        }
        .insurance-drop img {
            filter: brightness(0%);
        }
        .dropdown.mob-mnu.plans-cat:hover .insurance-drop img {
            transform: rotate(0deg);
        }
        .col-sm-3.footer-titile.footer-second-item {
            order: 4;
        }
       

    }

    @media screen and (max-width: 768px){
       .container {
        padding: 0px !important;
    }
    .insurance-product-wrapper {
        margin-top: 20px;
    }
    

    .compare-parts img {
        width: 100%;
        height: 80px;
    }
    .corporate-plan-content-wrapper::before {
        display: none;
    }
    .corporate-plan-section {
        padding: 30px 0px;
    }
    .corporate-plan-content-wrapper::after {
        display: none;
    }
    .slider-section {
        padding: 30px 0px;
    }
    .slider-section .container{
        padding: 0px;
        margin: 0px 15px;
        width: 100%;
    }
    .slider-section .col-sm-6{
        padding: 0px;
    }
    .slider-section .container {
        padding: 0px;
        margin: 0px 20px;
    }

    .slider-section .top-left-text h1 {
        max-width: 370px;
        margin-bottom: 60px;
        line-height: 35px;
    }
    .col-sm-6.aboutUs--hero__img.justify-content-center {
        display: none;
    }
    .row.feature--cards {
        margin-bottom: 30px;
    }
    .feature--cards {
        height: 170px;
    }
    .container.aboutUs {
        margin-bottom: 30px;
    }
    .col-sm-7.values--wrapper {
        margin-top: 0px;
    }
    .container.core--value--wrapper {
        display: block;
        overflow: hidden;
    }
    .values--wrapper {
       top: 0px;
       right: 0px;
    }
    .container-fluid.cta-wrapper.aboutUs--cta {
        margin:30px 0;
    }
    .container.aboutUs--team--container.py-5 {
        margin: 0px;
    }
    .container.aboutUs--team--container.py-5 {
        display: block;
        overflow: hidden;
    }
    .container.aboutUs--team--container.py-5 .row {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;

    }

    .container.aboutUs--team--container.py-5 .row .col-sm-4 {
        width: calc(100% / 2 - 20px);
        padding: 0px;
    }
    .team--connect {
        width: 100%;
    }
    .select-insurance-type {
        margin-bottom: 0px;
    }
    .policy-img img {
        width: 20%;
    }
    .top-left-text .title {
        font-size: 30px;
        line-height: 38px;
        margin-top: 0px;
    }
    .training-title h2 {
        font-size: 28px;
    }
    .policy-item .policy-content a p  {
        font-size: 13px;

    }
    .customer-rating {
        display: none;
    }
    .select-insurance-type .insurance-lists {
        flex-basis: 70%;
    }
    .how-it-works h2 {
        font-size: 42px;
    }
    .why-diff-title h2 {
        font-size: 42px;
    }
    .why-diff-title {
        display: none;
    }
    .why-diff-left h2 {
        font-size: 28px;
    }
    .right-banner-img {
        display: none;
    }
    .why-different {
        background: #F5F7FA;
        margin-top: 40px;
    }
    .why-diff-left p {
        padding-left: 0px;
    }
    .col-sm-7.col-xs-12.why-different-items .row {
        display: flex;
        flex-flow: wrap;
        justify-content:space-between;
    }
    .col-sm-6.why-diff-right {
        padding-right: 0px;
    }
    .col-sm-5.col-xs-12.why-different-div {
        padding: 0px !important;
    }
    .col-sm-7.col-xs-12.why-different-items {
        padding: 0px !important;
    }
    .col-sm-6.why-diff-right {
        padding-left: 0px !important;
        width: calc(100% / 2);
    }
    .row.working-bar .resp-width-wrk {
        width: calc(100% / 2 );
    }
    .slider-arrows {
        position: absolute;
        top: 40% !important;
        z-index: 9;
    }
    .slider-arrows #slick-previous {
        position: absolute;
        left: 0;
    }
    .slider-arrows #slick-next {
        right: 0;
        position: absolute;
        margin-right: 0px;
    }
    .row.copyright-text {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    .col-sm-3.footer-item p {
        text-align: center;
    }
    .col-sm-4.footer-item {
        width: 100%;
        text-align: center;
    }
    .copyright-text .col-sm-3:first-child {
        margin-bottom: 0px;
        text-align: center;
    }
    .col-sm-3.foot-social-icon {
        flex-basis: 100%;
        justify-content: center;
        margin-bottom: 40px;
    }
    .col-sm-4.footer-item {
        order: 3;
    }
    .col-sm-3.footer-item {
        order: 2;
        width: 100% !important;
    }
    .top-img {
        display: none;
    }
    .compare-right h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .date-form-wrapper {
        column-gap: 26px;
        row-gap: 20px;
    }
    .checkbox-wrapper .check-item {
        width: calc(100% / 4 - 30px);
    }
    .date-form-wrapper .date-form-item {
        width: calc(100% / 4 - 20px);
    }
    #msform fieldset {
        width: 100%;
    }
    #msform fieldset .form-card {
        box-shadow: 0px 0px 3px #616161;
        padding: 25px 30px !important;
    }
    /*.col-sm-2.col-xs-12.resp-width-wrk {
        width: 100%;
    }*/

     .policy-content a::after {
            top: 84px;
        }
        .container.aboutUs--team--container.py-5 .col-sm-4:first-child, .container.aboutUs--team--container.py-5 .col-sm-4:nth-child(2){
            width: 100%;
        }
    .container.aboutUs--team--container.py-5 .col-sm-4:first-child .row.team--member--detail, .container.aboutUs--team--container.py-5 .col-sm-4:nth-child(2) .row.team--member--detail {
        width: 44%;
    }
    .col-sm.text-center.team--connect {
        margin: 0px;
    }
    .dropdown-nav-item li a {
            font-size: 12px !important;
        }
    .parent-dropdown .dropdown-nav-item li a {
        padding: 5px 5px !important;
    }
     .col-sm-3.footer-titile.footer-second-item {
            width: 100%;
        }
        .col-sm-2.footer-titile.footer-second-item {
            width: 100%;
        }
        .col-sm-3.footer-logo-part {
            width: 100%;
        }
        .col-sm-4.footer-titile.footer-second-item {
            width: 100%;
        }
    }

    @media screen and (max-width: 640px){
        .subscription-payment-wrapper .payment-block {
            width: 100%;
        }
        .how-it-works {
            padding: 10px 0;
        }
        .corporate-plan-section {
            margin-top: 36px;
        }
        .compare-now {
            padding-bottom: 10px;
        }
        .testimonials-section {
            padding-bottom: 0px;
        }
        .mb-none-block{
            display: none;
        }
        .mb-block {
            display:block ;
        }
        #expertTalk .modal-content {
            width: 90%;
        }
        .row.form-2 .col-md-6 {
        padding: 0px !important;
    }
    #msform fieldset .form-card {
        box-shadow: 0px 0px 3px #616161;
        padding: 25px 8px !important;
    }
    .fs-title.step-title {
        font-size: 14px !important;
        line-height: 19px;
        padding: 10px 8px;
        margin-bottom: 0px !important;
    }
    .contact_info_container .contact_info {
        padding: 0px;
    }
    .contact_form.col-12.col-xs-12.col-md-6.mt-3.mt-md-0 form .btn-primary {
        width: 100px;
    }
    select#compare-sorting {
            -webkit-appearance: none;
            width: 130px;
            background: #fff; 
    }
    #compare-sorting option{
        -webkit-appearance: none;
        background: #fff;
    }
        .number-item p {
        font-size: 28px;
    }
    .number-item.number-title {
        width: 20%;
    }
    .sum-assured {
        height: 60px;
    }
        /** compare result **/
        .spacer {
            height: 20px;
        }
       .cookie-content-wrapper p {
        font-size: 13px;
        line-height: 19px;
        padding: 5px;
    }
    .acceptclose button {
        font-size: 15px;
        font-family: karla;
        padding: 7px 0px;
    }
    .cookie-content-wrapper p span {
        font-size: 9px;
        color: #686868;
        font-weight: 300;
    }
    .accept-btn {
        font-size: 10px;
        padding: 7px 4px;
    }
       /* .table.compare-result-table tr td:first-child {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 65px;
            padding: 10px;
        }*/
        .benefit-box.line-rht-cmp {
            width: 100%;
        }
        .details-box.line-rht-cmp {
            box-shadow: none;
        }
        .benefit-lists li {
            font-size: 12px;
        }
        .benefit-box.line-rht-cmp {
            box-shadow: none;
        }
        .cont-plan {
            order: 2;
        }
        .prod-name {
            order: 3;
        }
        .compare-result-table tbody tr td {
            width: calc(100% / 3) !important;
        }

        /** compare result **/
        .col-sm-5.\.aboutUs--cta--btn {
            display: none;
        }
        .corporate-plan-form-wrapper .form-group label,.nonlife-form-wrapper .form-group label {
        margin-bottom: 10px;
        font-size: 13px !important;
    }
       .row.working-bar .resp-width-wrk {
        width: calc(100% / 1 );
    }
    .list-of-insurance-policy {
        column-gap: 22px;
    }

    .list-of-insurance-policy .policy-item {
        width: calc(100% / 3 - 15px);
    }
    .policy-item .policy-content a p {
        font-size: 12px;
    }
    .customer-rating {
        display: none;
    }
    .top-left-text .title {
        font-size: 26px;
        line-height: 30px;
    }
    .association-img {
        height: 80px;
    }

    .side-fixed-nav{
        display: none;
    }
    .ph-fixed-contact {
        display: flex;
        position: fixed;
        bottom: 50px;
        left: 30px;
        background: #A13737;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 9;
        animation:pulse 2s infinite;
    }
    @keyframes pulse {
        10% {transform: scale(1.2);}

    }

    .ph-fixed-contact i{
        font-size: 16px;
        color: #fff;
    }
    .why-diff-right img {
        width: 30%;
    }
    .view-plan-wrapper {
        width: 50%;
    }
    .short-note {
        font-size: 12px;
        line-height: 20px;
        margin-top: 10px !important;
        margin-left: 0px !important;
    }
    .policy-content a::after {
        width: 150px;
        font-size: 10px;
         left: -77px;
    }
    .compare-search-sort {
        display: flex;
    }
    .left-sort {
        flex: 1;
    }
    .mb-filter{
        display: block;
        opacity: 0.6;
    }
    .mb-view-show {
        display: block;
    }
    .pay-term-note {
        display: none;
    }
    .benefit-box.line-rht-cmp {
        width: 100% !important;
        text-align: center;
    }
    .benefit-lists {
        padding: 0px 10px;
        width: 50%;
        margin: 0px auto;
    }
    .benefits-button{
        display: block;
    }
    .mb-policy-term {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
    }
    .mb-view-show {
        display: flex;
        font-size: 9px !important;
        align-items: center;
        padding: 0px 5px;
        margin-bottom: 0px;
        color: #3D538C;
    }
    .content-compare td:nth-child(5) {
        display: none;
    }

    .benefits-button {
        background: #3D538C;
        color: #fff !important;
        padding: 8px 15px;
    }
    .benefits-button p{
        margin: 0px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .benefits-button p span {
        margin-right: 30px;
        font-size: 13px;
    }
    .content-compare td:nth-child(4) {
        appearance: ;
        padding: 0;
        width: 100% !important;
        display: block;
    }
    .result-feature span {
        margin-right: 10px;
    }
    .main-blog-content h1 {
        font-size: 21px;
        line-height: 30px;
        width: 100%;
    }
    .main-read-more {
        margin-top: 20px;
    }
    .details-val2 {
        font-size: 14px;
    }
    .associations .col-sm-3 {
        flex: 0 0 45%;
        margin-left: 10% !important;
    }
    .associations .col-sm-3:nth-of-type(2n+1) {
        margin-left: 0px !important;
    }
    }

    @media screen and (max-width: 570px){
         .subscription-plan-items {
            grid-template-columns: repeat(1, 1fr);
        }
        .sumassured-number-wrapper {
            column-gap: 8px;
        }
        .sumassured-number-wrapper {
            column-gap: 4px;
        }
        .sumassured-items {
            width: 75%;
        }
        .term-items {
            width: 25%;
        }
        .sumassured-items .sumassured-title {
            width: 22% !important;
        }
        .term-title {
            width: 50% !important;
        }
        .term-number-wrapper{
            width: 50% !important;
            justify-content: center;
        }
        .cookie-pop {
            width: 85%;
            padding: 15px 20px;
            /* border: 1; */
            bottom: 10px;
            right: 7.5%;
        }
        .association-cat-title h1 {
            font-size: 17px;
            padding-left: 10px;
        }
        .life-cat-title::before {
            background: none;
        }
        .nonlife-cat-title::before {
           background: none;
        }
        .association-cat-title {
        justify-content: left;
        padding: 0px 25px;
        width: 100%;
    }
        .association-slider {
            width: 100% !important;
            padding:0px 20px;
          min-height: 200px;
        }

        .parent-dropdown .dropdown-nav-item:nth-child(2){
            display: none;
        }
        .parent-dropdown .dropdown-nav-item {
            width: 100%;
        }
        #child_container .form-group .date-form-wrapper .date-form-item ,#couple_container .form-group .date-form-wrapper .date-form-item {
            width: calc(100% / 2 - 20px);
        }
        .date-form-wrapper .date-form-item {
            width: calc(100% / 2 - 20px);
        }
        .date-form-wrapper.date-format {
            margin: 0px;
        }
        .date-type-selection {
            margin-bottom: 15px !important;
        }
    }

    @media screen and (max-width:  480px){
        .number-item p {
            font-size: 20px;
        }
        .number-item.number-title {
            width: 25%;
        }
        .sum-assured {
            height: 50px;
        }
        .date-type-selection {
            margin: 0px;
            width: 100%;
        }
        .details-val2 {
            font-size: 12px;
        }
        .main-blog-img img {
            height: 250px;
        }
        .benefit-lists {
            padding: 15px 69px;
        }
        .benefits-button p {
            font-size: 10px !important;
        }
        .mb-policy-term {
            display: block;
        }
        .payment-schedule {
            font-size: 10px;
        }
        .benefits-button p i {
            font-size: 9px;
        }
        .top-navigation a {
            font-size: 11px;
        }
        .compare-calc-lists .col-sm-3 {
            width: 85%;
        }
        .container.aboutUs--team--container.py-5 .col-sm-4:first-child .row.team--member--detail, .container.aboutUs--team--container.py-5 .col-sm-4:nth-child(2) .row.team--member--detail {
        width: 100%;
    }
        .container.aboutUs--team--container.py-5 .col-sm-4 {
        width: 100% !important;
    }
        .corporate-plan-heading h1, .nonlife-form-heading h1 {
            font-size: 16px;
        }
        .corporate-plan-form-wrapper .form-group label, .nonlife-form-wrapper form .form-group label {
            font-size: 12px !important;
        }
        #verifyCustomer .modal-dialog {
            width: 94%;
        }
        .pay-term-note p span {
        font-size: 8px;
    }
    .pay-term-note p {
        font-size: 9px;
    }
        .feature--cards {
        height: 225px;
    }
    .values--wrapper {
        padding: 60px 35px;
    }
    .col-sm-5.core--wrapper {
        margin-top: 91px;
    }
    .row.aboutUs--row h2 {
        font-size: 34px;
        font-weight: 300;
        margin-top: 0px;
    }
    .core--wrapper h3 {
        font-size: 34px;
    }
    .aboutUs--herotitle h1 {
        font-size: 34px;
    }
       .corporate-plan-form-wrapper,.nonlife-form-wrapper,.insurance-category-pop-wrapper {
        width: 85%;
    }
    .table {
        table-layout: auto;
    }
    .compare-plans {
        overflow: visible;
        overflow-x: auto;
    }
    #payback-table tfoot tr th {

        font-size: 11px;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        font-size: 11px;
    }
    .view-plan-wrapper {
        width: 90%;
    }
    .cont-plan {
        font-size: 10px;
        line-height: 14px;
    }
    .content-compare td .sum-title {
        font-size: 10px;
    }
    .content-compare td .sum-title-val {
        font-size: 10px;
        line-height: 16px;
    }
    #pamount {
        font-size: 12px;
        line-height: 13px;

    }
    .prod-name {
        font-size: 12px;
        line-height: 13px;
    }
    .details-box.line-rht-cmp .details-val2 {
        font-size: 12px;
        line-height: 16px;
    }
    .details-box.line-rht-cmp p.details-title {
        font-size: 12px;
        line-height: 15px;
    }
    .details-title2 {
        font-size: 12px;
        line-height: 15px;
    }
    .prem-val {
        font-size: 12px;
        line-height: 16px;
    }
    .result-feature {
        font-size: 11px;
    }
    .select-plan,.view-plan {
        padding: 9px 6px;
        border: 0px;
        font-size: 10px;
    }
    .content-compare td .sum-title {
        font-size: 12px;
        line-height: 15px;
    }
    .lower-title-val {
        font-size: 13px;
        line-height: 15px;
    }
    .corporate-plan-form-wrapper form .form-group,.nonlife-form-wrapper form .form-group{
        margin-bottom: 20px !important;
        width: 100%;
    }
    .corporate-plan-form-wrapper form .form-group, .nonlife-form-wrapper form .form-group {
        margin-bottom: 10px !important;
        width: 100%;
    }
    .policy-item .policy-content a p  {
        font-size: 10px;
        line-height: 15px;
    }
    .policy-category-title h5 {
        font-size: 12px;
        padding: 2px 12px;
    }
    .policy-img img {
        width: 25%;
    }
    .select-insurance-type .insurance-type-submit {
        font-size: 14px;
    }
    .col-sm-6.top-left-text h1 {
        text-align: left;
    }
    .top-left-text .title {
        font-size: 24px;
        line-height: 30px;
    }
    .why-diff-left h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .how-it-works h2 {
        font-size: 36px;
        line-height: 46px;
    }
    .training-title h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .compare-right h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .compare-left-img img {
        max-width: 85%;
        margin-bottom: -37px;
    }
    .slider-section {
        padding: 20px 0;
    }
    .slider-section .top-left-text h1 {
        max-width: 260px;
        line-height: 30px;
    }
    .top-left-text .title {
        font-size: 21px;
        line-height: 25px;
    }
    .latest-item .latest-shortdesc .desc {
        line-height: 22px;
    }

    .why-diff-right p {
        font-size: 12px;
        line-height: 17px;
    }
    .why-diff-right img {
        max-width: 30%;
    }
    .date-form-wrapper .date-form-item {
        width: calc(100% / 2 - 20px);
    }
    .checkbox-wrapper .check-item {
        width: calc(100% / 2 - 20px);
    }
    .selected-item {
        width: 100% !important;
    }
    .date-form-wrapper {
        column-gap: 40px;
    }
    .checkbox-wrapper {
        column-gap: 40px;
    }
    .form-control.form-control-wide {
        width: 100% !important;
    }
    .footer .container .row:first-child {
        display: flex;
        flex-flow: wrap;
    }
    .col-sm-12.foot-policy {
        order: 1;
    }
    .col-sm-4.footer-titile.footer-second-item {
        order: 3;
    }
    .footer-lists li, .footer-lists a {
        font-size: 14px;
    }
    .footer-titile p {
        font-size: 14px;
    }
    .calendardate.side-calc {
        display: inherit !important;
    }
    .calendardate.side-calc select {
        margin-bottom: 15px !important;
    }
    .form-card.container h2 {
        font-size: 13px;
        line-height: 20px;
    }
    .form-card.container label {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    #progressbar li::before {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin: 0 auto 10px auto;
    }
    .core--wrapper h3 {
        font-size: 28px;
    }
    .aboutUs--herotitle h1 {
        font-size: 28px;
    }
    .aboutUs--herotitle {
        padding: 0 25px;
    }
    .aboutUs--herotitle p, .moretext {
        font-size: 14px;
        line-height: 25px;
    }
    .core--wrapper p {
        font-size: 14px;
        line-height: 21px;
    }
    .row.aboutUs--row h2 {
        font-size: 28px;
    }
    .aboutUs--row > div > p {
        font-size: 14px;
        line-height: 21px;
    }
    .modal-content {
        width: 90%;
    }
    #verifyCustomer .btn-primary {
        font-size: 16px !important;
        padding: 5px 15px !important;
    }
    .training-title.container.text-center {
        margin-bottom: 0px;
    }
    .form-group {
        margin-bottom: 20px !important;
    }
    .calculation-form .form-group label i {
        font-size: 15px !important;
    }
    .form-card h3 {
        font-size: 10px;

    }
    .custom-input {
        width: 100%;
    }
    .custom-input{
        width: 100%;
    }
    #progressbar li::before {
        width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 11px;
    }
    #progressbar li::after {
        top: 18px;
        left: 24px;
    }
    #msform .action-button {
        width: 114px;

        padding: 8px 5px;
        font-size: 13px;
    }
    #msform .action-button-previous {
        width: 101px;
        padding: 8px 5px;
        margin: 10px 5px;
        font-size: 13px;
    }

    }

    @media screen and (max-width: 400px){
        .content-compare td .sum-title {
            font-size: 10px;
        }
        #pamount {
            font-size: 10px;
        }
        .details-title2 {
            font-size: 10px;
            line-height: 12px;
        }
        .details-val2 {
            font-size: 10px;
        }
        #return {
            font-size: 10px;
        }
        .details-box.line-rht-cmp .details-val2 {
            font-size: 10px;
        }
        .prod-name {
            font-size: 10px;
            line-height: 13px;
        }
        .feature--cards__text h1 {
            font-size: 21px;
        }
        .main-blog-title h2 {
        font-size: 32px;
    }
        .col-sm-10.feature--cards__text p {
            font-size: 13px;
            line-height: 20px;
        }
        .core--values p {
            font-size: 14px;
        }
        .policy-img img {
            width: 30% !important;
        }
        .compare-right p {
            font-size: 13px;
        }
        .why-diff-left p {
            font-size: 14px;
        }
        .association-title h2 {
            font-size: 32px;
        }
        .latest-section .latest-title h2 {
            font-size: 18px;
        }
        .how-it-works h2 {
            font-size: 32px;
        }
        .user-content {
            font-size: 14px;
        }
        .latest-item .latest-shortdesc .desc {
            font-size: 14px;
            line-height: 20px;
        }
        .association-cat {
            font-size: 21px;
        }
        .base-logo-text {
            font-size: 14px;
        }
        .footer-lists li, .footer-lists a {
            font-size: 14px;
        }
        .list-of-insurance-policy {
            padding-right: 5px;
            padding-left: 5px;
        }
        .main-blog-content p {
            font-size: 13px;
            line-height: 24px;
        }
    }
    /** end of responsive **/

    @media screen and (min-width : 1600px){
        .slider-section {
            padding: 110px 0;
        }
        .latest-item .latest-shortdesc .latest-cat strong {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 10px;
            letter-spacing: 1px;
            color: #f5556e;
            margin-right: 30px;
            text-transform: uppercase;
        }
    }
    @media only screen and (max-width: 1400px){
        .latest-item {
           
            overflow: hidden;
             height: 430px;
        }
        .latest-time-cat {
            background-color: #f3f3f3;
            padding: 25px 15px;
        }
    }

    @media only screen and (max-width: 1499px){
        .latest-shortdesc {
            height: 185px;
        }
        .latest-time-cat {
            height: 194px;
            background-color: #f3f3f3;
            padding: 20px 15px;
        }
    }
    @media only screen and (max-width: 1233px){
        .navbar-default .navbar-nav > li > a {
            font-size: 16px;
        }
    }
    @media only screen and (max-width:2540px) {
        .latest-time-cat {
            background-color: #f3f3f3;
            padding: 20px 15px;
            height: 200px;
        }
        
    }
    @media only screen and (max-width: 1199px){

       
        .latest-item .latest-shortdesc .latest-cat strong {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 0px;
            letter-spacing: 1px;
            color: #f5556e;
            margin-right: 30px;
            text-transform: uppercase;
        }
        .latest-item .latest-shortdesc .desc {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            /* line-height: 25px; */
            color: #121212;
            text-align: left;
            font-weight: 300!important;
        }
        .latest-time-cat p.desc {
            margin-top: 25px;
        }
        .latest-item {
            overflow: hidden;
            height: 450px;
        }
    }
        @media only screen and (max-width: 1130px){
            .latest-item .latest-shortdesc .desc {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                /* line-height: 25px; */
                color: #121212;
                text-align: left;
                font-weight: 300!important;
            }
            .latest-item .latest-shortdesc .latest-cat strong {
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 0px;
                letter-spacing: 1px;
                color: #f5556e;
                margin-right: 30px;
                text-transform: uppercase;
            }
            .latest-time-cat p.desc {
                margin-top: 5px;
            }
        }

    
    @media only screen and (max-width: 1075px){
        .latest-time-cat p.desc {
            margin-top: 25px;
        }
    }

    @media only screen and (max-width: 1000px){
        .blogs-wrapper {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: space-between;
            row-gap: 20px;
            column-gap: 20px;
        }

    }

    @media only screen and (max-width: 991px){
        .row.height.d-flex.justify-content-center.align-items-center {
            display: block;
        }
    }

    @media only screen and (max-width: 950px){
        .latest-time-cat p.desc {
            margin-top: 10px;
        }
    }
    @media only screen and (max-width: 703px){
        .latest-time-cat p.desc {
            margin-top: 25px;
        }

    }
    @media only screen and (max-width: 541px){
        .latest-time-cat p.desc {
            margin-top: 50px;
        }
        .latest-item {
            overflow: hidden;
            height: 485px;
        }
        .latest-time-cat {
            height: 240px;
            background-color: #f3f3f3;
            padding: 20px 15px;
        }

    }
    @media only screen and (max-width: 524px){
        .latest-item {
            overflow: hidden;
            height: 500px;
        }

    }
    @media only screen and (max-width: 500px){
        .blogs-wrapper {
            display: block;
            
        }
        .latest-time-cat {
            height: 210px;
            background-color: #f3f3f3;
            padding: 20px 15px;
        }
        .latest-time-cat p.desc {
            margin-top: 0px;
        }
    }


    @media only screen and (max-width: 400px){
        .search input {
            height: 50px;
            text-indent: 20px;
            border: 2px solid #d6d4d4;
            outline: 0!important;
        }
        .col-md-12 {
            padding: 0px;
        }
    }
  
    @media only screen and (max-width: 361px){
        .latest-time-cat p.desc {
            margin-top: 30px;
        }
        .search input {
            height: 50px;
            text-indent: 16px;
            border: 2px solid #d6d4d4;
            outline: 0!important;
        }
    }
    @media only screen and (max-width:2548px) {
        .latest-shortdesc {
            height: 200px;
        }
        
    }
  
    @media only screen and (max-width:1199px) {
        .latest-cat {
            margin-top: 0px;
        }
        .latest-cat strong {
            color: #F5556E;
            font-size: 13px;
            line-height: 20px;
        }
    }
  
    @media only screen and (max-width:718px) {
        .latest-shortdesc {
            height: 248px;
        }
        .latest-time-cat {
            height: 250px;
            background-color: #f3f3f3;
            padding: 20px 15px;
        }
    }
  
    @media only screen and (max-width:571px) {
        .latest-shortdesc {
            height: 272px;
        }
        .latest-time-cat {
            height: 280px;
            background-color: #f3f3f3;
            padding: 20px 15px;
        }
        
    }
  
    @media only screen and (max-width:640px) {
        .single-blog {
            width: 100% !important;
        }
        .blog-side-bar {
        width: 100%  !important;
    }
    .related-blog-links ul {
        display: flex;
        flex-flow: row wrap;
        row-gap: 20px;
        padding: 0;
        justify-content: space-between;
    
    }
    .related-blog-links ul a{
        width: calc(95%/2);
        justify-content: space-between;

    }
    .latest-time-cat {
        height: 200px;
        background-color: #f3f3f3;
        padding: 20px 15px;
    }
    }
  
    @media only screen and (max-width:541px) {
        .latest-time-cat p.desc {
            margin-top: 15px;
        }
        
    }
  

  
    @media only screen and (max-width:406px) {
        .latest-shortdesc {
            height: 255px;
        }
        .latest-time-cat {
            height: 255px;
            background-color: #f3f3f3;
            padding: 20px 15px;
        }
        
    }
  

