.walkthrough-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0px;
        display: none;
    }
    .walkthrough-wrapper.active{
        display: block;
    }
    .walkthrough-wrapper .walkthrough-item {
        background: #FFFFFF;
        border: 1px solid rgba(0, 109, 240, 0.2);
        box-sizing: border-box;
        box-shadow: 0px 6px 12px rgba(0, 109, 240, 0.15);
        border-radius: 4px;
        width: 25%;
        padding:20px 15px;
        transition:0.8s;
        position: absolute;
        display: none;
    }
    .walkthrough-item.active{
        display: block;
    }
    #first-step:after {
        position: absolute;
        content: '';
        background: #000;
        width: 175px;
        height: 130px;
        left: -185px;
        top: 50%;
        -webkit-clip-path: polygon(38% 45%, 43% 34%, 59% 0, 100% 0, 100% 0, 100% 0, 100% 3%, 61% 3%, 15% 100%, 12% 100%, 32% 58%, 30% 62%); 
        clip-path: polygon(38% 45%, 43% 34%, 59% 0, 100% 0, 100% 0, 100% 0, 100% 3%, 61% 3%, 15% 100%, 12% 100%, 32% 58%, 30% 62%);

    }
    #first-step:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #668EBA;
        bottom: -35%;
        left: -175px;
        box-shadow: 0px 0px 2px 6px rgba(146,174,206,0.5);
    }
    #second-step:after {
        position: absolute;
        content: '';
        background: #000;
        width: 245px;
        height: 5px;
        left: -250px;
        top: 50%;
    }
    #second-step:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #668EBA;
        top:50%;
        left: -269px;
        box-shadow: 0px 0px 2px 6px rgba(146,174,206,0.5);
    }
    .walkthrough-title h1 {
        font-family: Karla;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 140%;
        color: #0E0E2C;
        margin: 0px;
        margin-bottom: 10px;
    }
    .walkthrough-content p{
        font-family: Karla;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #585757;
        margin: 0px;
    }
    .next-button{
        display: flex;
        justify-content: right;
        margin-top: 20px;
    }
    .next-button button {
        background: #FFFFFF;
        border: 0.5px solid #ECEEF0;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 5px 15px;
        font-size: 18px;
    }

    @media only screen and (max-width : 1550px){
        .walkthrough-wrapper .walkthrough-item {
             width: 30% !important;
        }
    }
    @media only screen and (max-width: 1251px){
        .walkthrough-wrapper .walkthrough-item {
            width: 35% !important;
        }
    }
    @media only screen and (max-width:  1084px){
        .walkthrough-wrapper .walkthrough-item {
            width: 50% !important;
        }
    }
    @media only screen and (max-width: 800px){
        .walkthrough-wrapper .walkthrough-item {
            width: 55%;
        }
        .walkthrough-wrapper{
            display: none !important;
        }
    }
    