
 /** add by ananta **/

 .content {
    padding: 20px 15px;
}
 section.sidebar {
    box-shadow: 1px 0px 12px rgb(61 83 140 / 10%), inset -1px 0px 0px rgb(0 0 0 / 10%);
}
.main-header .navbar{
    margin-left: 299px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    padding-top: 69px !important;
}
.lead-Hot {
    background: #FD3D39 !important;
    color: #f1f1f1 !important;
    border-radius: 72px;
    font-size: 14px;
    padding: 5px 11px;
    opacity: 0.75;
    width: 125px;
    text-align: center;


}
.remark-wrapper {
    max-height: 337px;
    overflow-y: auto;
}
.lead-Cold {
    background: #3884F5 !important;
    color: #f1f1f1 !important;
    border-radius: 72px;
    font-size: 14px;
    padding: 5px 11px;
    opacity: 0.75;
    width: 125px;
    text-align: center;


}
.lead-Warm{
     background: #f6cd8b !important;
    color: #f1f1f1 !important;
    border-radius: 72px;
    font-size: 14px;
    padding: 5px 11px;
    opacity: 0.75;
    width: 125px;
    text-align: center;


}
span.non-assign {
    background: red;
    color: #fff;
    border-radius: 72px;
    padding: 5px 11px;
    font-size: 14px;;
    width: 125px;
    text-align: center;
}
.datatable-search {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.datatable-search input{
    height: 50px;
    border: 0px;
    font-size: 16px;
    text-indent:50px;
    background: none;
}
.datatable-search input::placeholder{
    color:#BBBBBB;
    font-weight: 400;
}
.datatable-search button {
    position: absolute;
    background: none;
    color: #000;
    opacity: 0.60;
    border: 0px;
    z-index: 111111;
    left: 0;
    top: 15px;
}
/*.dataTable thead{
    background: #E7EAEE;
}*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px !important;
}
.page-link {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #3E66FB !important;
    border-radius: 4px;
}
.paginate_button.page-item.active a {
    color: #3E66FB;
    border: 1px solid #3E66FB;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none !important;
    border: 0px;
    box-shadow:none !important;
}
.datatable-search button i {
    font-size: 19px;
    opacity: 0.50;
}
.datatable-action {
    float:right;
}
.row.datatable-row {
    display: flex;
    align-items: center;
}
.import-form{
    margin-bottom: 20px;
}
.lead-transfer-control {
    line-height: 20px;
    height: 28px;
    border: 0px;
    background: none;
    outline: none;
    color: #333333;
    opacity: 0.5;
    font-family: roboto;
    font-size: 13px;
}
.dataTables_filter label input {
    height: 45px;
}
a.dt-button.buttons-collection.buttons-export {
    border: 1px solid #253254 !important;
    background: #fff !important;
    box-shadow: none;
    color: #253254;
    font-size: 14px;
    margin-left: 15px;
}
li.paginate_button.page-item {
    padding: 5px !important;
}
.dt-buttons {
    margin-left: 15px;
}
/** end **/
.document-wrapper {
    margin: 60px 0px;
}
span#file-upload-btn {
    background: #3490dc !important;
    border-color: #3490dc !important;
}
div#start i {
    color: #ddd;
}
.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 0;
    text-align: center;
    border-radius: 7px;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}
form#file-upload-form input[type='submit'] {
    display: block;
}
form#file-upload-form {
    padding: 0px 60px;
}
form#file-upload-form input[type='submit'] {
    display: block !important;
    width: 100% !important;
    background: #3987FB;
    border: 0px;
    border: 4px;
    color: #fff;
    font-size: 16px;
    padding: 7px 0px;
}

    .modal.left .modal-dialog {
        position: fixed;
        right: 0;
        margin: auto;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    .modal.right.fade .modal-dialog {
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.right.fade.show .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #eeeeee;
        background-color: #fafafa;
    }

    /* ----- v CAN BE DELETED v ----- */

    .action-btn {
        padding: 10px !important;
        height: 100% !important;
    }

    /*password*/
    .input-group-addon {
        padding: .5rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #495057;
        text-align: center;
        background-color: #e9ecef;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
    }

    .input-group-addon, .input-group-btn {
        white-space: nowrap;
        vertical-align: middle;
    }

    .input-group .form-control, .input-group-addon, .input-group-btn {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

.document-preview{
    padding: 8px 60px;
}
button.delete-docs {
    background: red;
    color: #fff;
    border: 0px;
}.document-preview {
    display: flex;
}
.document-form{
    padding: 0px 60px;
}
.preview-doc {
    width: 100%;
    background: green;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 15px;
    border: 4px;
}
.document-submit {
    display: block;
    width: 100%;
    background: #0062cc;
    color: #fff;
    display: block;
    font-size: 15px;
    border: 4px;
    height: 50px;
    display: flex;
    align-items: center;
}
.document-upload-form{
    display: none;
}
.select-user-list {
    opacity: 0;
}
.swal2-container.swal2-fade.swal2-in {
    z-index: 999999;
}
.dt-button.buttons-excel {
    background: #3987FB;
    border-color: #3987FB;
    color: #fff;
    font-size: 14px;
}
.custom-select.custom-select-sm.form-control.form-control-sm {
    height: 38px;
    margin: 0px 10px;
    border: 1px solid #253254;
    color: #253254;
}
/*.dataTables_wrapper{
    overflow-x: auto;
}*/
.dataTables_wrapper .top{
    display: flex;
    width: 100%;
}
.dataTables_wrapper .top .right-col .dt-buttons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.dataTables_length label {
    margin: 0px !important;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    color: #253254;
}
.dataTables_wrapper .top .right-col .dt-buttons a {
    background: none;
    height: 37px;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    border: 1px solid #253254;
    color: #253254;
}
.dataTables_wrapper .top .right-col .dt-buttons a:hover {
    background: none !important;
    border-color: #253254 !important;
}
.dataTables_wrapper .top .right-col .dt-buttons a:first-child {
    margin: 0px !important;
}
.dataTables_wrapper .top .right-col .dt-buttons a span {
    color: #253254 !important;
}
.dataTables_wrapper .top .left-col {
    width: 30%;
}
.dataTables_wrapper .top .right-col{
    display: flex;
    justify-content: right;
    width: 70%;
}
.dt-button.buttons-excel:hover {
    background: #3987FB !important;
    border-color: #3987FB !important;
}
.dataTables_filter{
    width: 100%;
}
.dataTables_filter label {
    width: 100%;
    margin-bottom: 0px;
}
.dataTables_filter label i{
    font-size: 21px;
    color: #bbb;
}
.dataTables_filter label {
    border: 1px solid #253254;
    padding-left: 15px;
}
.dataTables_filter label input {
    width: 90% !important;
    font-size: 16px;
    color: #BBB;
    font-weight: 300 !important;
    border: 0px;
    opacity: 0.5;
}
.custom_datatable_wrapper{
    overflow-x: auto;
}
.dataTable {
    overflow-x: auto;
    white-space: nowrap;
    display: table;
    width: 100% !important;
    margin: 0px !important;
}
.dataTable.no-footer {
    border: 0.5px solid #F0F0F0 !important;
}

.dataTable thead {
   width: 100% !important;
}
.dataTable tbody{
    width: 100% !important;
}
.dataTable thead tr th{
    border: 0.5px solid #f0f0f0;
}
.dataTable tbody tr td {
    font-family: Open Sans !important;
    font-size: 13px !important;
    font-weight: 500;
    color: var(--grey-450);
    border: 0.5px solid #f0f0f0;
    padding: 10px 7px !important;
}
.dataTable  thead tr th{
    font-family: Open Sans !important;
    font-size: 13px !important;
    font-weight: 500;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.dataTable tfoot th{
    font-size: 12px ;
}
/*.dataTable tbody tr:nth-of-type(2n+1) {
    background: #fafafa !important;
}*/
.dataTable tbody:nth-last-child(2) button {
    text-align: center !important;
}
.dataTable tbody tr td{

}
.dataTable tbody tr td:last-chid{
}
.dataTables_info {
    color: #999 !important;
}

/** leadership board css **/
.box-body {
    padding: 30px 30px;
}
.leader-star span {
    margin-right: 15px;
}

.table-action-wrapper{
    margin-bottom: 15px;
}

/** backend form css **/
.policy-compare-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.policy-compare-wrapper .form-wrapper {
    width: 60%;
}
.policy-compare-wrapper .form-input-details-wrapper {
    width: 38%;
}
.custom-row {
    display: flex;
    row-gap: 20px;
    flex-flow: row wrap;
}
.form-input-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
}
.form-input-wrapper .form-label{
     width: 25%;
     margin-right: 5%;
}
.form-input-wrapper .form-label label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2A2A2A;
    margin-bottom: 0px;
}
.form-group label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal !important;
    font-size: 16px;
    color: #2A2A2A;
    margin-bottom: 5px;
    display: block;
}
.form-input-wrapper .form-input {
    width: 70%;
}
.form-input input {
    width: 100%;
    line-height: 40px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid rgba(147, 152, 191, 0.25);
    text-indent: 10px;
    font-size: 14px;
    color: #484848;
    font-family: Roboto;
}
.form-input textarea {
    width: 100%;
    outline: none;
    background: #FFFFFF;
    border: 1px solid rgba(147, 152, 191, 0.25);
    text-indent: 10px;
    font-size: 14px;
    color: #484848;
    font-family: Roboto;
}
.form-input input::placeholder,.form-input textarea::placeholder{
    opacity: 0.6;
}
.form-input select{
    width: 100%;
    background: #fff;
    border: 1px solid rgba(147, 152, 191, 0.25);
    color: #484848;
    opacity: 0.6;
     font-family: Roboto;
     height: 45px;
     padding: 0px 10px;
      font-size: 14px;
}
.form-submit-btn {
    width: 100%;
    background: #3D538C;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    font-size: 18px;
    font-family: roboto;
    padding: 10px 0px;
}
.validation_error {
    font-size: 14px;
    color: red;
    margin-bottom: 0;
    margin-top: 5px;
}
.add-company-btn {
    background: #F7F8FA;
    border: 0px;
    width: 100%;
    padding: 10px 0px;
    font-size: 14px;
    color: #2A2A2A;
}
.company-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}
.company-wrapper .form-group select{
     width: 100%;
    background: #fff;
    border: 1px solid rgba(147, 152, 191, 0.25);
    color: #484848;
    opacity: 0.6;
     font-family: Roboto !important;
     height: 45px;
     padding: 0px 10px;
     border-radius: 0px !important;
      font-size: 14px;
      outline: none !important;
}
.company-wrapper .form-group{
    margin-bottom: 0px !important;
}
.company-wrapper .form-group:first-child {
    width: 45%;
}
.company-wrapper .form-group:nth-child(2){
    width: 45%;
}
.company-wrapper .form-group:last-child {
    width: 3%;
    margin-bottom: 0px !important;
}

.company-wrapper .form-group:last-child button {
    width: 100%;
    display: flex;
    align-content: ;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
}
#featuresListing .form-check {
    padding: 0px;
}
#featuresListing .form-check label {
     font-family: Roboto;
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px;
    color: #2A2A2A;
    margin-bottom: 5px;
    display: block;
}
.product-required-feature {
    margin: 0;
    font-size: 14px;
    color: green;
    margin-bottom: 15px;
    margin-top: 5px;
}



/** end of form css **/

/** compare result **/
.action-info-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    margin-bottom: 10px;
}
.excel-action form button ,.word-action form button{
    background: none;
    height: 37px;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    border: 1px solid #253254;
    color: #253254;
    box-shadow: none;
    padding: 0px 15px;

}
.excel-action form button:hover,.word-action form button: hover{
    background: none;
}
.small-feature,.view-pay {
    font-size: 13px;
    display: block;
    margin-top: 10px;
    color: #253254;
    font-weight: 800;
}
.feature-list li small {
    font-size: 13px;
    x: ;
    color: #253254;
}
.request-wrapper ul {
    width: 40%;
    padding: 0;
    left: ;
    list-style: none;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px 20px;
}
.request-wrapper ul li {
    line-height: 30px;
    display: flex;
    flex-flow: row wrap;
}
.request-wrapper ul li strong{
    width: 40%;
    font-size:14px;
    color: #253254;
}
.request-wrapper ul li span{
    font-size: 14px;
}
/** end of compare result **/

#payback-table tr {
    border: 1px solid #f4f4f4;
}
.totalling {
    background: #fafafa;
}
.totalling td {
    font-weight: 600;
    font-size: 14px !important;
}

.date-filter-wrapper .form-row {
    padding: 0px !important;
    margin-bottom: 15px;
}
.excel_customizer {
    background: none;
    border: 0px;
}

.profile-image-wrapper {
    background: #fafafa;
    padding: 30px 20px;
    border-bottom: 4px solid #324679;
    display: flex;
    justify-content: center;
    position: relative;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    background: #fff;
    position: relative;
    overflow: hidden;
}
.user-stataus-green {
    position: absolute;
    right: 44%;
    background: green;
    color: #fff;
    padding: 2px 11px;
    border-radius: 23px;
    font-size: 11px;
    bottom: 27px;
}
.user-stataus-red {
    position: absolute;
    right: 44%;
    background: green;
    color: #fff;
    padding: 2px 11px;
    border-radius: 23px;
    font-size: 11px;
    bottom: 27px;
}
.profile-image  img{
    width: 100%;
    height: 100%;
}

.action-button-list a {
    background: none;
    height: 37px;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    border: 1px solid #253254;
    color: #253254;
    padding: 3px 10px;
}
.action-button-list {
    display: flex;
    justify-content: right;
}

.up-product{
    margin-bottom: 15px;
}

.btn.btn-primary.up-product {
    background: #3D538C;
    border: 0px;
}
.product-collasp  .card-header, .card-header:focus {
    background: #3D538C !important;
    color: #fff !important;
}
.product-collasp  .card-header h5{
    color: #fff;
}
.product-collasp{
    margin-bottom:20px;
}
.product-collasp .card-header {
    display: flex;
    align-items: center;
}
.toggleBtn-product-form {
    margin-left: auto;
}
.toggleBtn-product-form {
    background: 0;
    border: 0;
    color: #fff;

}
.toggleBtn-product-form i{
    transition: 0.6s;
}
.toggleBtn-product-form.active i {
    transform: rotate(180deg);
}
.card-body.product-file-form-wrapper {
    display: none;
}
.download-wrapper a {
    background: #3D538C;
    color: #fff;
    padding: 5px 7px;
    display: inline-block;
    margin-top: 5px;
    width: 61%;
    text-align: center;
}