.side-calc select, .side-calc input {
    margin: 1px !important;
}
.wrapper {
    padding: 100px;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

.sidecalc-btn {
    padding: 1px !important;
}

.my-prem-calc {
    width: 500px !important;
}

span.form-control.radio-select-box.sidecalc-btn.text-black.age-title {
    display: none;
}
.expert-talk{
    padding:5px;
    line-height: 3px;
}

.responsive-hide {
    display: none !important;
}

.responsive-show {
    display: block !important;
}

.calculate-input {
    padding: 15px 5px !important;
}

/* .modal-content {
    position: fixed;
    right: 0;
    width: 100%;
    border: 0;
    border-radius: 1px !important;
    height: 100%;
} */

.subBtn {
    left: -25px !important;
    padding: 0 10px !important;
}

.addBtn {
    right: -26px !important;
    padding: 0 8px !important;
}

.responsive-full-width-box-responsive {
    width: 100% !important;
}

.modal-title.callback{
    flex:1;
}
.btnmodal{
    margin-top: 100px;
}
.modal-content.information{
    padding:20px;
}

@media only screen and (max-width: 768px) {
    .modal-dialog.my-prem-calc {
        width: 100% !important;
    }
}
